{% extends "base.html" %}

{% block content %}

   <body>
      <main class="site-content">
         <!-- start: Hero Area -->
         <section class="tj-hero-section hero-style-four" data-bg-image="assets/images/banner-bg/hero-3.jpg">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-12">
                     <div class="hero-left-content">
                        <div class="tj-sec-heading">
                           <span class="hero-sub-title wow fadeInUp" data-wow-delay="0.3s">About</span>
                           <h1 class="hero-title wow fadeInUp" data-wow-delay=".5s">
                           </h1>
                           <div class="desc wow fadeInUp" data-wow-delay="0.7s">
                              <p>
                                 Welcome to ossean, your go-to destination for cutting-edge design solutions and comprehensive digital services. With a passion for creativity and a dedication to excellence,
                                 we strive to bring your vision to life and empower your brand in the digital world.
                              </p>
                           </div>
                           <div class="hero-button d-flex justify-content-center wow fadeInUp" data-wow-delay=".9s">
                              <a class="tj-white-btn-two" href="contact.html">Get Started</a>
                           </div>
                        </div>
                        <div class="hero-circle">
                           <span class="circle-1"></span>
                           <span class="circle-2"></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Hero Area -->

         <!-- start: About Area -->
         <section class="tj-about-section-four">
            <div class="container">
               <div class="row">
                  <div class="col-xl-6">
                     <div class="about-content-two">
                        <div class="tj-sec-heading">
                           <span class="sub-title wow fadeInUp" data-wow-delay=".3s"> About Us</span>
                           <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">
                              Creative Problem Solving <span class="active-color">Innovation</span>
                           </h2>
                           <div class="desc wow fadeInUp" data-wow-delay=".5s">
                              <p>
                                 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                 form, by injected humour, or randomised words which don't look even slightly believable.
                              </p>
                           </div>
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div class="about-category-item wow fadeInUp" data-wow-delay=".6s">
                                    <div class="about-icon">
                                       <i class="flaticon-market-positioning"></i>
                                    </div>
                                    <div class="about-text">
                                       <h5 class="title">Brand Strategy & Art Direction</h5>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div class="about-category-item wow fadeInUp" data-wow-delay=".7s">
                                    <div class="about-icon">
                                       <i class="flaticon-ui"></i>
                                    </div>
                                    <div class="about-text">
                                       <h5 class="title">UX/UI Design & App Design</h5>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div class="about-category-item wow fadeInUp" data-wow-delay=".8s">
                                    <div class="about-icon">
                                       <i class="flaticon-trending-topic"></i>
                                    </div>
                                    <div class="about-text">
                                       <h5 class="title">Trending Design Experience.</h5>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div class="about-category-item wow fadeInUp" data-wow-delay=".9s">
                                    <div class="about-icon">
                                       <i class="flaticon-compass"></i>
                                    </div>
                                    <div class="about-text">
                                       <h5 class="title">Brand Strategy & Art Direction</h5>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="about-button d-flex wow fadeInUp" data-wow-delay="1s">
                              <a href="about-us.html" class="tj-secondary-btn btn-border"><span>Read More</span></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6">
                     <div class="about-image-group-four wow fadeInLeft" data-wow-delay="1s">
                        <div class="about-image1 pulse">
                           <img class="lg-images" src="assets/images/about/about-7.png" alt="Image" />
                           <div class="shaspe_one">
                              <img src="assets/images/shape/about-1.png" alt="Shapes" />
                           </div>
                        </div>
                        <div class="about-image2 pulse">
                           <img src="assets/images/about/about-8.png" alt="Image" />
                        </div>
                        <div class="about-image3 pulse">
                           <img src="assets/images/about/about-6.png" alt="Image" />
                        </div>
                        <div class="about-image4 pulse">
                           <img src="assets/images/about/about-9.png" alt="Image" />
                        </div>
                        <div class="shapes_1 pulse">
                           <img src="assets/images/shape/shape-42.svg" alt="Shapes" />
                        </div>
                        <div class="shapes_2 pulse">
                           <img src="assets/images/shape/shape-42.svg" alt="Shapes" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: About Area -->

         <!-- start: Service Area -->
         <section class="tj-service-section service-style-four" data-bg-image="assets/images/shape/service-overly.svg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading text-center">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s"> Our Services</span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">Service We <span class="active-color">Provide</span></h2>
                        <div class="desc wow fadeInUp" data-wow-delay=".5s">
                           <p>
                              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                              It was popularised in the 1960s with the release
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row text-center">
                  <div class="col-xl-3 col-lg-6 col-md-6">
                     <div class="tj-service-item-four text-center wow fadeInUp" data-wow-delay=".3s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-design"></i>
                           </div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Logo Design</a>
                              </h4>
                              <p>
                                 look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum, and a search
                                 for
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6">
                     <div class="tj-service-item-four text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-graphic-design-1"></i>
                           </div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Web Design</a>
                              </h4>
                              <p>
                                 look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum, and a search
                                 for
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6">
                     <div class="tj-service-item-four text-center wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-ui-design"></i>
                           </div>
                           <div class="service-image"></div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Mobile Apps</a>
                              </h4>
                              <p>
                                 look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum, and a search
                                 for
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6">
                     <div class="tj-service-item-four text-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-megaphone"></i>
                           </div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Digital Marketing</a>
                              </h4>
                              <p>
                                 look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum, and a search
                                 for
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="service-button text-center wow fadeInUp" data-wow-delay=".7s">
                     <a href="service-details.html" class="tj-secondary-btn btn-border"><span>View Details</span></a>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Service Area -->

         <!-- start: Testimonial Area -->
         <section class="testimonial-style-four" data-bg-image="assets/images/shape/service-overly.svg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="testimonial-top-area">
                        <div class="tj-sec-heading">
                           <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Testimonials</span>
                           <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">
                              What Our Customer
                              <span class="active-color">Say About Us</span>
                           </h2>
                        </div>
                        <div class="testimonial-right-content wow fadeInRight" data-wow-delay=".5s">
                           <p>
                              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                              It was popularised in the 1960s with the release
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container wow fadeInUp" data-wow-delay=".3s">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="swiper tj-testimonial-slider3">
                        <div class="swiper-wrapper">
                           <div class="swiper-slide">
                              <div class="testimonial-item">
                                 <div class="testimonial-top-content">
                                    <div class="testimonial-left-content">
                                       <div class="auother-image">
                                          <img src="assets/images/testimonial/test-1.png" alt="Image" />
                                       </div>
                                       <div class="auother-text">
                                          <h4 class="title">Erika Wagner</h4>
                                          <span class="sub-title"> Chief lil UX Designer</span>
                                       </div>
                                    </div>
                                    <div class="testimonial-right-content">
                                       <div class="testimonial-rating">
                                          <ul class="dot-style">
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-regular fa-star-half-stroke"></i></li>
                                          </ul>
                                       </div>
                                       <div class="testimonial-quote">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="44" viewBox="0 0 60 44" fill="none">
                                             <g opacity="0.3">
                                                <path
                                                   d="M0.573543 43.6491C0.382362 42.3418 0.238976 40.9878 0.143385 39.5872C0.0477951 38.1865 0 37.1594 0 36.5057C0 30.2495 1.14709 24.3201 3.44126 18.7175C5.73543 13.0215 8.55535 8.21259 11.901 4.29077L26.9565 7.65233C25.1403 11.6675 23.6586 16.1963 22.5116 21.2386C21.4601 26.281 20.9343 31.0899 20.9343 35.6653C20.9343 35.8521 20.9343 36.2723 20.9343 36.9259C20.9343 37.4862 20.9343 38.1865 20.9343 39.0269C21.0299 39.7739 21.0777 40.5676 21.0777 41.408C21.1733 42.2484 21.2689 42.9954 21.3645 43.6491H0.573543Z"
                                                   fill="#DCDEE7"
                                                />
                                                <path
                                                   d="M59.4259 0.0126953C59.6171 1.31997 59.7605 2.67393 59.8561 4.07458C59.9517 5.47523 59.9995 6.50238 59.9995 7.15602C59.9995 13.4123 58.8524 19.3884 56.5582 25.0843C54.2641 30.687 51.4441 35.4492 48.0985 39.371L33.043 36.0094C34.8592 31.9942 36.293 27.4654 37.3445 22.4231C38.4916 17.3808 39.0652 12.5719 39.0652 7.9964C39.0652 7.80965 39.0652 7.43614 39.0652 6.87588C39.0652 6.22224 39.0174 5.52192 38.9218 4.77491C38.9218 3.93451 38.874 3.09412 38.7784 2.25373C38.7784 1.41334 38.7306 0.66633 38.635 0.0126953H59.4259Z"
                                                   fill="#DCDEE7"
                                                />
                                             </g>
                                          </svg>
                                       </div>
                                    </div>
                                 </div>
                                 <h4 class="test-title">Customers Review</h4>
                                 <p>
                                    Many desktop publishing web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                                    ipsum' will uncover many web sites still in
                                 </p>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="testimonial-item">
                                 <div class="testimonial-top-content">
                                    <div class="testimonial-left-content">
                                       <div class="auother-image">
                                          <img src="assets/images/testimonial/test-2.png" alt="Image" />
                                       </div>
                                       <div class="auother-text">
                                          <h4 class="title">Erika Wagner</h4>
                                          <span class="sub-title"> Chief lil UX Designer</span>
                                       </div>
                                    </div>
                                    <div class="testimonial-right-content">
                                       <div class="testimonial-rating">
                                          <ul class="dot-style">
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-regular fa-star-half-stroke"></i></li>
                                          </ul>
                                       </div>
                                       <div class="testimonial-quote">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="44" viewBox="0 0 60 44" fill="none">
                                             <g opacity="0.3">
                                                <path
                                                   d="M0.573543 43.6491C0.382362 42.3418 0.238976 40.9878 0.143385 39.5872C0.0477951 38.1865 0 37.1594 0 36.5057C0 30.2495 1.14709 24.3201 3.44126 18.7175C5.73543 13.0215 8.55535 8.21259 11.901 4.29077L26.9565 7.65233C25.1403 11.6675 23.6586 16.1963 22.5116 21.2386C21.4601 26.281 20.9343 31.0899 20.9343 35.6653C20.9343 35.8521 20.9343 36.2723 20.9343 36.9259C20.9343 37.4862 20.9343 38.1865 20.9343 39.0269C21.0299 39.7739 21.0777 40.5676 21.0777 41.408C21.1733 42.2484 21.2689 42.9954 21.3645 43.6491H0.573543Z"
                                                   fill="#DCDEE7"
                                                />
                                                <path
                                                   d="M59.4259 0.0126953C59.6171 1.31997 59.7605 2.67393 59.8561 4.07458C59.9517 5.47523 59.9995 6.50238 59.9995 7.15602C59.9995 13.4123 58.8524 19.3884 56.5582 25.0843C54.2641 30.687 51.4441 35.4492 48.0985 39.371L33.043 36.0094C34.8592 31.9942 36.293 27.4654 37.3445 22.4231C38.4916 17.3808 39.0652 12.5719 39.0652 7.9964C39.0652 7.80965 39.0652 7.43614 39.0652 6.87588C39.0652 6.22224 39.0174 5.52192 38.9218 4.77491C38.9218 3.93451 38.874 3.09412 38.7784 2.25373C38.7784 1.41334 38.7306 0.66633 38.635 0.0126953H59.4259Z"
                                                   fill="#DCDEE7"
                                                />
                                             </g>
                                          </svg>
                                       </div>
                                    </div>
                                 </div>
                                 <h4 class="test-title">Customers Review</h4>
                                 <p>
                                    Many desktop publishing web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                                    ipsum' will uncover many web sites still in
                                 </p>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="testimonial-item">
                                 <div class="testimonial-top-content">
                                    <div class="testimonial-left-content">
                                       <div class="auother-image">
                                          <img src="assets/images/testimonial/test-3.png" alt="Image" />
                                       </div>
                                       <div class="auother-text">
                                          <h4 class="title">Erika Wagner</h4>
                                          <span class="sub-title"> Chief lil UX Designer</span>
                                       </div>
                                    </div>
                                    <div class="testimonial-right-content">
                                       <div class="testimonial-rating">
                                          <ul class="dot-style">
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-solid fa-star"></i></li>
                                             <li><i class="fa-regular fa-star-half-stroke"></i></li>
                                          </ul>
                                       </div>
                                       <div class="testimonial-quote">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="44" viewBox="0 0 60 44" fill="none">
                                             <g opacity="0.3">
                                                <path
                                                   d="M0.573543 43.6491C0.382362 42.3418 0.238976 40.9878 0.143385 39.5872C0.0477951 38.1865 0 37.1594 0 36.5057C0 30.2495 1.14709 24.3201 3.44126 18.7175C5.73543 13.0215 8.55535 8.21259 11.901 4.29077L26.9565 7.65233C25.1403 11.6675 23.6586 16.1963 22.5116 21.2386C21.4601 26.281 20.9343 31.0899 20.9343 35.6653C20.9343 35.8521 20.9343 36.2723 20.9343 36.9259C20.9343 37.4862 20.9343 38.1865 20.9343 39.0269C21.0299 39.7739 21.0777 40.5676 21.0777 41.408C21.1733 42.2484 21.2689 42.9954 21.3645 43.6491H0.573543Z"
                                                   fill="#DCDEE7"
                                                />
                                                <path
                                                   d="M59.4259 0.0126953C59.6171 1.31997 59.7605 2.67393 59.8561 4.07458C59.9517 5.47523 59.9995 6.50238 59.9995 7.15602C59.9995 13.4123 58.8524 19.3884 56.5582 25.0843C54.2641 30.687 51.4441 35.4492 48.0985 39.371L33.043 36.0094C34.8592 31.9942 36.293 27.4654 37.3445 22.4231C38.4916 17.3808 39.0652 12.5719 39.0652 7.9964C39.0652 7.80965 39.0652 7.43614 39.0652 6.87588C39.0652 6.22224 39.0174 5.52192 38.9218 4.77491C38.9218 3.93451 38.874 3.09412 38.7784 2.25373C38.7784 1.41334 38.7306 0.66633 38.635 0.0126953H59.4259Z"
                                                   fill="#DCDEE7"
                                                />
                                             </g>
                                          </svg>
                                       </div>
                                    </div>
                                 </div>
                                 <h4 class="test-title">Customers Review</h4>
                                 <p>
                                    Many desktop publishing web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                                    ipsum' will uncover many web sites still in
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="testimonial-sec-shape"></div>
         </section>
         <!-- end: Testimonial Area -->

         <!-- start: Portfolio Area -->
         <section class="tj-portfolio-section-two portfolio-style-four">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="portfolio-top-content-area">
                        <div class="tj-sec-heading">
                           <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Portfolio</span>
                           <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">Fratured <span class="active-color">Projects</span></h2>
                        </div>
                        <div class="desc wow fadeInUp" data-wow-delay=".5s">
                           <p>
                              Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                              'lorem ipsum' wil. Various versions have evolved over the accident,
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid wow fadeInUp" data-wow-delay=".6s">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="swiper tj-portfolio-slider2">
                        <div class="swiper-wrapper">
                           <div class="swiper-slide">
                              <div class="tj-portfolio-item-two">
                                 <div class="portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-21.jpg" alt="Image" />
                                 </div>
                                 <div class="portfolio-content">
                                    <span class="sub-title">Business Consulting</span>
                                    <h4 class="title">
                                       <a href="portfolio-details.html">How to Build & Growth your Business</a>
                                    </h4>
                                 </div>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="tj-portfolio-item-two">
                                 <div class="portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-20.jpg" alt="Image" />
                                 </div>
                                 <div class="portfolio-content">
                                    <span class="sub-title">Business Consulting</span>
                                    <h4 class="title">
                                       <a href="portfolio-details.html">How to Build & Growth your Business</a>
                                    </h4>
                                 </div>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="tj-portfolio-item-two">
                                 <div class="portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-12.jpg" alt="Image" />
                                 </div>
                                 <div class="portfolio-content">
                                    <span class="sub-title">Business Consulting</span>
                                    <h4 class="title">
                                       <a href="portfolio-details.html">How to Build & Growth your Business</a>
                                    </h4>
                                 </div>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="tj-portfolio-item-two">
                                 <div class="portfolio-image">
                                    <img src="assets/images/portfolio/portfolio-14.jpg" alt="Image" />
                                 </div>
                                 <div class="portfolio-content">
                                    <span class="sub-title">Business Consulting</span>
                                    <h4 class="title">
                                       <a href="portfolio-details.html">How to Build & Growth your Business</a>
                                    </h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Portfolio Area -->

         <!-- BEGIN: Contact Form Success Modal Message -->
         <div class="modal" id="message_sent" tabindex="-1">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header alert alert-success">
                     <h5 class="modal-title">Message Sent Successfully</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <p>Thank you for contacting us. We will get back to you shortly.<br />Have a great day!</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: Contact Form Success Modal Message -->

         <!-- BEGIN: Contact Form Fail Modal Message -->
         <div class="modal" id="message_fail" tabindex="-1">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header alert alert-danger">
                     <h5 class="modal-title">Error</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <p>Oops! Something went wrong, please try again.</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: Contact Form Fail Modal Message End -->
      </main>
   </body>

{% endblock content %}
