<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="" />

      <!-- Site Title -->
      <title>Webency - Web Design Agency HTML5 Template</title>

      <!-- Place favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="assets/images/fav.svg" />
      <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.svg" />

      <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="assets/css/font-awesome-pro.min.css" />
      <link rel="stylesheet" href="assets/css/animate.min.css" />
      <link rel="stylesheet" href="assets/css/flaticon_webency.css" />
      <link rel="stylesheet" href="assets/css/odometer.min.css" />
      <link rel="stylesheet" href="assets/css/magnific-popup.css" />
      <link rel="stylesheet" href="assets/css/swiper.min.css" />
      <link rel="stylesheet" href="assets/css/meanmenu.css" />
      <link rel="stylesheet" href="assets/css/main.css" />
   </head>

   <body>
      <!-- start: Preloader -->
      <div class="preloader" id="preloader">
         <div class="preloader-inner">
            <div class="lines">
               <span class="line line-1"></span>
               <span class="line line-2"></span>
               <span class="line line-3"></span>
               <span class="line line-4"></span>
               <span class="line line-5"></span>
               <span class="line line-6"></span>
               <span class="line line-7"></span>
               <span class="line line-8"></span>
               <span class="line line-9"></span>
            </div>
            <div class="text">Loading</div>
         </div>
         <button class="tj-cancel-btn">Cancel Preloader</button>
      </div>
      <!-- end: Preloader -->

      <!-- start: Mobile Menu -->
      <div id="tj-overlay-bg2" class="tj-overlay-canvas d-lg-none"></div>
      <div class="tj-offcanvas-area d-lg-none">
         <div class="tj-offcanvas-header d-flex align-items-center justify-content-between">
            <div class="logo-area text-center">
               <a href="index.html"><img src="assets/images/logo/white-logo.png" alt="Logo" /></a>
            </div>
            <div class="offcanvas-icon">
               <a id="canva_close" href="#">
                  <i class="fa-light fa-xmark"></i>
               </a>
            </div>
         </div>
         <div class="tj-search-box">
            <form action="#">
               <input type="text" name="search" id="search" placeholder="Search" />
               <a href="#"> <i class="fal fa-search"></i></a>
            </form>
         </div>
         <nav class="right_menu_togle mobile-navbar-menu d-lg-none" id="mobile-navbar-menu"></nav>
         <div class="mobile-contact">
            <div class="contact-menu">
               <ul class="dot-style">
                  <li>
                     <span><i class="fa-sharp fa-regular fa-envelope"></i></span>
                     <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                  </li>
                  <li>
                     <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                     <a href="#">225 Marion Street, Columbia</a>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-phone-volume"></i></span>
                     <a href="tel:+00123456789">+ 00 123 456 789</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="mobile-share">
            <ul class="dot-style">
               <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
               </li>
               <li>
                  <a href="#">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
               </li>
               <li>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
               </li>
               <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
               </li>
            </ul>
         </div>
         <div class="header-button">
            <a class="btn tj-black-btn" href="contact.html">Contact Us</a>
         </div>
      </div>
      <!-- end: Mobile Menu -->

      <!-- start: Header Area -->
      <header class="tj-header-area header-sticky">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-12">
                  <div class="header-content-area">
                     <div class="logo-area">
                        <div class="logo">
                           <a href="index.html"><img src="assets/images/logo/white-logo.png" alt="Logo" /></a>
                        </div>
                     </div>
                     <div class="tj-menu-area d-lg-block d-none" id="main-menu">
                        <nav id="mobile-menu">
                           <ul>
                              <li class="has-dropdown">
                                 <a href="index.html">Home</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="index.html">Home One</a>
                                    </li>
                                    <li><a href="index-2.html">Home Two</a></li>
                                    <li><a href="index-3.html">Home Three</a></li>
                                    <li><a href="index-4.html">Home Four</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="about-us.html">About Us</a>
                              </li>
                              <li class="has-dropdown">
                                 <a href="service.html">Services</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="service.html">Services</a>
                                    </li>
                                    <li><a href="service-details.html">Services Details</a></li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                 <a href="#">Pages</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="portfolio.html">Portfolio</a>
                                    </li>
                                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="team.html">Team</a></li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                 <a href="blog-grid.html">Blog</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="blog-grid.html">Blog Grid</a>
                                    </li>
                                    <li class="active">
                                       <a class="active" href="blog-standard.html">Blog Standard</a>
                                    </li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                 </ul>
                              </li>
                              <li><a href="contact.html">Contact</a></li>
                           </ul>
                        </nav>
                     </div>
                     <div class="header-button d-none d-lg-block">
                        <a href="contact.html" class="tj-secondary-btn btn-border"><span>Contact Us</span></a>
                     </div>
                     <div class="tj-canva-icon d-lg-none">
                        <a class="canva_expander nav-menu-link menu-button" href="#">
                           <span class="dot1"></span>
                           <span class="dot2"></span>
                           <span class="dot3"></span>
                           <span class="dot4"></span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end: Header Area -->

      <main class="site-content">
         <!-- start: Breadcrumb Area -->
         <section class="breadcrumb-wrapper">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="breadcrumb-content-area">
                        <div class="breadcrumb-heading">
                           <h1 class="breadcrumb-title">Blog Standard</h1>
                        </div>
                        <div class="breadcrumb-link">
                           <span>
                              <a href="index.html">
                                 <span>Home</span>
                              </a>
                           </span>
                           <i class="fa-light fa-angle-right"></i>
                           <span>
                              <span>Blog Standard</span>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tj-breadcrumb-shape">
               <div class="breadcrumb-shape-one">
                  <img src="assets/images/shape/breadcrumb-1.svg" alt="Shape" />
               </div>
               <div class="breadcrumb-shape-two">
                  <img src="assets/images/shape/breadcrumb-2.svg" alt="Shape" />
               </div>
               <div class="breadcrumb-shape-1 pulse">
                  <img src="assets/images/shape/shape-7.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-2 shake-y">
                  <img src="assets/images/shape/shape-4.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-3 pulse">
                  <img src="assets/images/shape/shape-6.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-4 shake-y">
                  <img src="assets/images/shape/shape-4.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-5 pulse">
                  <img src="assets/images/shape/shape-6.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-6 pulse">
                  <img src="assets/images/shape/shape-51.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-7 shake-y">
                  <img src="assets/images/shape/shape-5.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-8 pulse">
                  <img src="assets/images/shape/shape-6.svg" alt="Icon" />
               </div>
            </div>
         </section>
         <!-- end: Breadcrumb Area -->

         <!-- start: Blog Details Area -->
         <section class="tj-blog-details">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="sidebar-wrapper">
                        <div class="details-item wow fadeInUp" data-wow-delay=".3s">
                           <div class="blog-thumb-image">
                              <a href="blog-details.html"><img src="assets/images/blog/blog-7.jpg" alt="Image" /></a>
                           </div>
                           <div class="blog-meta">
                              <span><i class="flaticon-calendar"></i>23 Oct, 2023</span>
                              <span><i class="flaticon-group"></i>By <a href="blog-details.html"> Admin</a></span>
                              <span><i class="fa-regular fa-comments"></i>Comments</span>
                           </div>
                           <div class="details-title">
                              <h3 class="title">Simple Proctives that will help you get better every day</h3>
                           </div>
                           <p>
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                              quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                              deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                           </p>
                           <div class="blog-button d-flex">
                              <a href="blog-details.html" class="tj-secondary-btn btn-border"><span>Read More</span></a>
                           </div>
                        </div>
                        <div class="details-item wow fadeInUp" data-wow-delay=".3s">
                           <div class="blog-thumb-image">
                              <img src="assets/images/blog/blog-10.jpg" alt="Image" />
                              <div class="video-play">
                                 <a
                                    class="venobox popup-videos-button"
                                    data-autoplay="true"
                                    data-vbtype="video"
                                    href="https://www.youtube.com/watch?v=ADmQTw4qqTY"
                                 >
                                    <i class="fa-sharp fa-solid fa-play"></i>
                                 </a>
                              </div>
                           </div>
                           <div class="blog-meta">
                              <span><i class="flaticon-calendar"></i>23 Oct, 2023</span>
                              <span><i class="flaticon-group"></i>By <a href="blog-details.html"> Admin</a></span>
                              <span><i class="fa-regular fa-comments"></i>Comments</span>
                           </div>
                           <div class="details-title">
                              <h3 class="title">Simple Proctives that will help you get better every day</h3>
                           </div>
                           <p>
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                              quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                              deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                           </p>
                           <div class="blog-button d-flex">
                              <a href="blog-details.html" class="tj-secondary-btn btn-border"><span>Read More</span></a>
                           </div>
                        </div>
                        <blockquote class="wow fadeInUp" data-wow-delay=".3s">
                           <p>
                              ‘’ Embed a little help from our friends from time to time. Although we offer the one-stop convenience of annery
                              integrated range of legal.’’
                           </p>
                           <cite>Johon Smit</cite>
                        </blockquote>
                        <div class="details-item wow fadeInUp" data-wow-delay=".3s">
                           <div class="blog-thumb-image">
                              <a href="blog-details.html"><img src="assets/images/blog/blog-11.jpg" alt="Image" /></a>
                           </div>
                           <div class="blog-meta">
                              <span><i class="flaticon-calendar"></i>23 Oct, 2023</span>
                              <span><i class="flaticon-group"></i>By <a href="blog-details.html"> Admin</a></span>
                              <span><i class="fa-regular fa-comments"></i>Comments</span>
                           </div>
                           <div class="details-title">
                              <h3 class="title">Simple Proctives that will help you get better every day</h3>
                           </div>
                           <p>
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                              quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                              deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                           </p>
                           <div class="blog-button d-flex">
                              <a href="blog-details.html" class="tj-secondary-btn btn-border"><span>Read More</span></a>
                           </div>
                        </div>
                        <div class="blog-pagination wow fadeInUp" data-wow-delay=".3s">
                           <ul>
                              <li><a class="page-numbers current" href="#">01</a></li>
                              <li><a class="page-numbers" href="#">02</a></li>
                              <li><a class="page-numbers" href="#">03</a></li>
                              <li><a class="page-numbers" href="#">04</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="tj-main-sidebar">
                        <div class="tj-blog-widget">
                           <div class="sidebar-search">
                              <form action="#">
                                 <input type="text" name="search" id="searchTwo" placeholder="Search Here" />
                                 <button type="submit" value="search">
                                    <i class="fa-light fa-magnifying-glass"></i>
                                 </button>
                              </form>
                           </div>
                        </div>
                        <div class="tj-blog-widget">
                           <h3 class="side-title">Categories</h3>
                           <div class="sidebar-catagory">
                              <ul>
                                 <li>
                                    <a href="#"
                                       >Business Consulting
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Marketing
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >SEO Optimization
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Designing
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Facebook Marketing
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Web Development
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="tj-blog-widget">
                           <h3 class="side-title">Recent Post</h3>
                           <div class="sidebar-recent-post">
                              <div class="single-post d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="blog-details.html"> <img src="assets/images/blog/post-1.png" alt="Blog" /></a>
                                 </div>
                                 <div class="post-content">
                                    <span class="sub-title"><i class="fa-light fa-calendar-days"></i>May 17, 2023</span>
                                    <h5 class="title-link">
                                       <a href="#">How To Become a Better Solution</a>
                                    </h5>
                                 </div>
                              </div>
                              <div class="single-post d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="blog-details.html"> <img src="assets/images/blog/post-2.png" alt="Blog" /></a>
                                 </div>
                                 <div class="post-content">
                                    <span class="sub-title"><i class="fa-light fa-calendar-days"></i>Jan 17, 2023</span>
                                    <h5 class="title-link">
                                       <a href="#">How To Search a One page Solution</a>
                                    </h5>
                                 </div>
                              </div>
                              <div class="single-post d-flex align-items-center">
                                 <div class="post-image">
                                    <a href="blog-details.html"> <img src="assets/images/blog/post-1.png" alt="Blog" /></a>
                                 </div>
                                 <div class="post-content">
                                    <span class="sub-title"><i class="fa-light fa-calendar-days"></i>Nov 17, 2023</span>
                                    <h5 class="title-link">
                                       <a href="#">How To Seo Onpage a Better Solution</a>
                                    </h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tj-blog-widget">
                           <h3 class="side-title">Tages:</h3>
                           <div class="sidebar-tags">
                              <div class="tagcloud">
                                 <a href="#">Marketing</a>
                                 <a href="#">Sco</a>
                                 <a href="#">Digital</a>
                                 <a href="#">Seo Marketing</a>
                                 <a href="#">Corporate</a>
                                 <a href="#"> Saas Software </a>
                                 <a href="#">Digital</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="blog-section-shape">
               <div class="shape-1">
                  <img src="assets/images/blog/shape-1.svg" alt="Shape" />
               </div>
               <div class="shape-2 shake-y">
                  <img src="assets/images/shape/shape-9.svg" alt="Shape" />
               </div>
               <div class="shape-3 pulse">
                  <img src="assets/images/shape/shape-10.svg" alt="Shape" />
               </div>
               <div class="shape-4 shake-y">
                  <img src="assets/images/shape/shape-9.svg" alt="Shape" />
               </div>
               <div class="shape-5 pulse">
                  <img src="assets/images/shape/shape-10.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: Blog Details Area -->
      </main>

      <!-- start: Footer Area -->
      <footer class="tj-footer-area">
         <div class="footer-menu-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3">
                     <div class="footer-widget footer1-col-1">
                        <div class="footer-content-info">
                           <div class="footer-logo">
                              <a href="index.html">
                                 <img src="assets/images/logo/footer-logo.png" alt="Logo" />
                              </a>
                           </div>
                           <p>
                              The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                              'Content here.
                           </p>
                           <div class="footer-share">
                              <ul class="dot-style">
                                 <li>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M8.51962 6.1948L13.8489 0H12.586L7.95861 5.37887L4.26275 0H0L5.58887 8.13379L0 14.63H1.26293L6.14957 8.94974L10.0527 14.63H14.3154L8.51929 6.1948H8.51962ZM1.71797 0.950725H3.65775L12.5866 13.7225H10.6468L1.71797 0.950725Z"
                                             fill="#161616"
                                          />
                                       </svg>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-2">
                        <h4 class="footer_title">Departments</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">Family Medicine</a></li>
                                 <li><a href="#">Radiology</a></li>
                                 <li><a href="#">Women’s Health</a></li>
                                 <li><a href="#">Optician</a></li>
                                 <li><a href="#">Pediatrics</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-3">
                        <h4 class="footer_title">Useful Link</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">Blog Grid</a></li>
                                 <li><a href="#">Blog Standard</a></li>
                                 <li><a href="#">Blog Details</a></li>
                                 <li><a href="#">Our Services</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-4">
                        <h4 class="footer_title">Company</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">About us</a></li>
                                 <li><a href="#">Services</a></li>
                                 <li><a href="#">Contact Us</a></li>
                                 <li><a href="#">Out Team</a></li>
                                 <li><a href="#">Pricing</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-5">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="widget_contact_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li>
                                    <span><i class="fa-sharp fa-regular fa-envelope"></i></span>
                                    <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-solid fa-globe"></i></span><a href="#">www.website.com</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                                    <a href="#">225 Marion Street, Columbia</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-solid fa-phone-volume"></i></span>
                                    <a href="tel:+00123456789">+ 00 123 456 789</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="copyright-content-area">
                        <div class="copyright-left-content">
                           <p>Copyright © 2023 <a href="#" target="_blank"> ThemeJunction. </a> All Rights Reserved.</p>
                        </div>
                        <div class="copyright-menu">
                           <ul>
                              <li><a href="#">Setting & Privacy</a></li>
                              <li><a href="#">FAQ</a></li>
                              <li><a href="#">Support</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-section-shape">
            <div class="footer-bg-shape">
               <img src="assets/images/banner-bg/footer-bg-shape.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape1">
               <img src="assets/images/banner-bg/footer-bg-shape1.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape2 shake-y">
               <img src="assets/images/shape/shape-35.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape3 pulse">
               <img src="assets/images/shape/shape-36.svg" alt="Shape" />
            </div>
         </div>
      </footer>
      <!-- end: Footer Area -->

      <!-- start: Scroll Area -->
      <div class="webency-scroll-top">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path
               d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
               style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 71.1186px"
            ></path>
         </svg>
         <div class="webency-scroll-top-icon">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true"
               role="img"
               width="1em"
               height="1em"
               viewBox="0 0 24 24"
               data-icon="mdi:arrow-up"
               class="iconify iconify--mdi"
            >
               <path fill="currentColor" d="M13 20h-2V8l-5.5 5.5l-1.42-1.42L12 4.16l7.92 7.92l-1.42 1.42L13 8v12Z"></path>
            </svg>
         </div>
      </div>
      <!-- end: Scroll Area -->

      <!-- JS here -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/meanmenu.js"></script>
      <script src="assets/js/swiper.min.js"></script>
      <script src="assets/js/jquery.appear.min.js"></script>
      <script src="assets/js/wow.min.js"></script>
      <script src="assets/js/odometer.min.js"></script>
      <script src="assets/js/imagesloaded-pkgd.js"></script>
      <script src="assets/js/magnific-popup.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/validate.min.js"></script>
      <script src="assets/js/main.js"></script>
   </body>
</html>
