{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="" />

      <!-- Site Title -->
      <title>Ossean</title>

      <!-- Place favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="fav.svg" />
      <link rel="shortcut icon" type="image/x-icon" href="fav.svg" />

      <!-- CSS here
      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/flaticon_webency.css' %}" rel="stylesheet">
      <link href="{% static 'css/font-awesome-pro.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
      <link href="{% static 'css/meanmenu.css' %}" rel="stylesheet">
      <link href="{% static 'css/odometer.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet">
      -->

      <link rel="stylesheet" href="bootstrap.min.css" />
      <link rel="stylesheet" href="font-awesome-pro.min.css" />
      <link rel="stylesheet" href="animate.min.css" />
      <link rel="stylesheet" href="flaticon_webency.css" />
      <link rel="stylesheet" href="odometer.min.css" />
      <link rel="stylesheet" href="magnific-popup.css" />
      <link rel="stylesheet" href="swiper.min.css" />
      <link rel="stylesheet" href="meanmenu.css" />
      <link rel="stylesheet" href="main.css" />

   </head>

   <body>
      <!-- start: Preloader -->
      <div class="preloader" id="preloader">
         <div class="preloader-inner">
            <div class="lines">
               <span class="line line-1"></span>
               <span class="line line-2"></span>
               <span class="line line-3"></span>
               <span class="line line-4"></span>
               <span class="line line-5"></span>
               <span class="line line-6"></span>
               <span class="line line-7"></span>
               <span class="line line-8"></span>
               <span class="line line-9"></span>
            </div>
            <div class="text">Loading</div>
         </div>
         <button class="tj-cancel-btn">Contact Us</button>
      </div>
      <!-- end: Preloader -->

      <!-- start: Mobile Menu -->
      <div id="tj-overlay-bg2" class="tj-overlay-canvas d-lg-none"></div>
      <div class="tj-offcanvas-area d-lg-none">
         <div class="tj-offcanvas-header d-flex align-items-center justify-content-between">
            <div class="logo-area text-center">
               <a href="index.html"><img src="logo/ossean-logo.png" alt="Logo" /></a>
            </div>
            <div class="offcanvas-icon">
               <a id="canva_close" href="#">
                  <i class="fa-light fa-xmark"></i>
               </a>
            </div>
         </div>
         <div class="tj-search-box">
            <form action="#">
               <input type="text" name="search" id="search" placeholder="Search" />
               <a href="#"> <i class="fal fa-search"></i></a>
            </form>
         </div>
         <nav class="right_menu_togle mobile-navbar-menu d-lg-none" id="mobile-navbar-menu"></nav>
         <div class="mobile-contact">
            <div class="contact-menu">
               <ul class="dot-style">
                  <li>
                     <span><i class="fa-sharp fa-regular fa-envelope"></i></span>
                     <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                  </li>
                  <li>
                     <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                     <a href="#">225 Marion Street, Columbia</a>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-phone-volume"></i></span>
                     <a href="tel:+00123456789">+ 00 123 456 789</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="mobile-share">
            <ul class="dot-style">
               <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
               </li>
               <li>
                  <a href="#">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
               </li>
               <li>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
               </li>
               <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
               </li>
            </ul>
         </div>
         <div class="header-button">
            <a class="btn tj-black-btn" href="contact.html">Contact Us</a>
         </div>
      </div>
      <!-- end: Mobile Menu -->

      <!-- start: Header Area -->
      <header class="tj-header-area header-sticky">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-12">
                  <div class="header-content-area">
                     <div class="logo-area">
                        <div class="logo">
                           <a href="index.html"><img src="logo/ossean-logo.png" alt="Logo" /></a>
                        </div>
                     </div>
                     <div class="tj-menu-area d-lg-block d-none" id="main-menu">
                        <nav id="mobile-menu">
                           <ul>
                              <li>
                                 <a href="index.html">Home</a>
                              </li>
                              <li>
                                 <a href="about-us.html">About Us</a>
                              </li>
                              <li class="has-dropdown">
                                 <a href="service.html">Services</a>
                                 <ul class="sub-menu">
                                    <li><a href="#.html">Graphic Design</a></li>
                                    <li><a href="#">Website Design</a></li>
                                    <li><a href="#">Mobile App Design</a></li>
                                    <li><a href="#">Digital Marketing & SEO</a></li>
                                    <li><a href="#">Application Support & Maintenance</a></li>
                                    <li><a href="#">Web Radio & PBX </a></li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                 <a href="#">Careers</a>
                                 <ul class="sub-menu">
                                    <li><a href="#">Job Openings</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="team.html">Team</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </div>
                     <div class="header-button d-none d-lg-block">
                        <a href="contact.html" class="tj-secondary-btn btn-border"><span>Contact Us</span></a>
                     </div>
                     <div class="tj-canva-icon d-lg-none">
                        <a class="canva_expander nav-menu-link menu-button" href="#">
                           <span class="dot1"></span>
                           <span class="dot2"></span>
                           <span class="dot3"></span>
                           <span class="dot4"></span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end: Header Area -->

      <main class="site-content">
         <!-- start: Hero Area -->
         <section class="tj-hero-section">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-7">
                     <div class="hero-left-content">
                        <div class="tj-sec-heading">
                           <h1 class="hero-title wow fadeInUp" data-wow-delay=".5s">
                              TAILORED SOFTWARE DEVELOPMENT & ENHANCEMENT
                           </h1>
                           <div class="desc wow fadeInUp" data-wow-delay="0.7s">
                              <p>
                                 We are an experienced software company building innovative and affordable software solutions for every industry. With each line of code dreams become reality.
                              </p>
                           </div>

                           <div class="hero-button d-flex wow fadeInUp" data-wow-delay=".9s">
                              <a class="tj-primary-btn" href="contact.html"> Get Started</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5">
                     <div class="hero-image-group wow fadeInRight" data-wow-delay="1s">
                        <div class="group-image1 shake-y">
                           <img class="image" src="hero/hero-1.png" alt="Image" />
                        </div>
                        <div class="group-image2 pulse">
                           <img src="hero/hero-2.png" alt="Image" />
                        </div>
                        <img class="group-image5 pulse" src="shape/shape-7.svg" alt="Image" />
                        <img class="group-image6 pulse" src="shape/shape-8.svg" alt="Image" />
                     </div>
                  </div>
               </div>
            </div>
            <div class="hero-shape">
               <img src="shape/shape-1.svg" alt="Shape" />
            </div>
            <div class="hero-scroll">
               <img src="icon/scroll-bg.svg" alt="Bg" />
               <div class="scroll-icon jump">
                  <a href="#scroll-bottom"><img src="icon/scroll.svg" alt="Icon" /></a>
               </div>
            </div>
         </section>
         <!-- end: Hero Area -->

         <!-- start: Service Area -->
         <section class="tj-service-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading text-center">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Services We Provide</span>
                        <!--<h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">Service We Provide</h2>-->
                        <div class="desc wow fadeInUp" data-wow-delay=".5s">
                           <p>
                              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                              It was popularised in the 1960s with the release
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="tj-service-item text-center wow fadeInUp" data-wow-delay=".3s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-design"></i>
                              <img class="image-1" src="shape/service-image.svg" alt="Shape" />
                              <img class="image-2" src="shape/service-image1.svg" alt="Shape" />
                           </div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Graphic Design</a>
                              </h4>
                              <p>
                                 Our graphic design services for posters and invitations are crafted to infuse your special occasion with unparalleled creativity and charm.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="tj-service-item text-center wow fadeInUp" data-wow-delay=".4s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-graphic-design-1"></i>
                              <img class="image-1" src="shape/service-image.svg" alt="Shape" />
                              <img class="image-2" src="shape/service-image1.svg" alt="Shape" />
                           </div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Web Design</a>
                              </h4>
                              <p>
                                 Our web design service offers comprehensive solutions tailored to meet your online needs.
                                 We specialize in crafting visually appealing, user-friendly websites that not only captivate your audience but also drive results.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="tj-service-item text-center wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-ui-design"></i>
                              <img class="image-1" src="shape/service-image.svg" alt="Shape" />
                              <img class="image-2" src="shape/service-image1.svg" alt="Shape" />
                           </div>
                           <div class="service-image"></div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Mobile Apps</a>
                              </h4>
                              <p>
                                 Our Mobile Apps service involves crafting personalized, innovative solutions tailored to meet your unique needs.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="tj-service-item text-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="service-inner">
                           <div class="service-icon">
                              <i class="flaticon-megaphone"></i>
                              <img class="image-1" src="shape/service-image.svg" alt="Shape" />
                              <img class="image-2" src="shape/service-image1.svg" alt="Shape" />
                           </div>
                           <div class="service-content">
                              <h4 class="title-link">
                                 <a href="service-details.html">Digital Marketing</a>
                              </h4>
                              <p>
                                 Our digital marketing strategy encompasses a broad spectrum of online strategies aimed at enhancing a brand's visibility, engagement,
                                 and conversion rates across various digital platforms.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="service-button text-center wow fadeInUp" data-wow-delay=".7s">
                     <a href="service-details.html" class="tj-secondary-btn btn-border"><span>View Details</span></a>
                  </div>
               </div>
            </div>
            <div class="service-section-shape">
               <div class="service-bg-shape pulse">
                  <img src="shape/shape-14.svg" alt="Shape" />
               </div>
               <div class="service-bg-shape1">
                  <img src="shape/shape-15.svg" alt="Shape" />
               </div>
               <div class="service-bg-shape2">
                  <img src="shape/shape-14.svg" alt="Shape" />
               </div>
               <div class="service-bg-shape3 pulse">
                  <img src="shape/shape-15.svg" alt="Shape" />
               </div>
               <div class="service-bg-shape4 pulse">
                  <img src="shape/shape-16.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: Service Area -->


         <!-- start: About Area -->
         <section id="scroll-bottom" class="tj-about-section">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-xl-6 col-lg-12">
                     <div class="about-image-group wow fadeInLeft" data-wow-delay="1s">
                        <div class="about-image1 pulse">
                           <img src="about/about-1.png" alt="Image" />
                        </div>
                        <div class="about-image2 pulse">
                           <img src="about/about-2.png" alt="Image" />
                        </div>
                        <div class="about-image3 pulse">
                           <img src="about/about-3.png" alt="Image" />
                        </div>
                        <div class="about-image4 pulse">
                           <img src="about/about-4.png" alt="Image" />
                        </div>
                        <div class="about-shape1 shake-y">
                           <img src="shape/shape-9.svg" alt="Shape" />
                        </div>
                        <div class="about-shape2 pulse">
                           <img src="shape/shape-10.svg" alt="Shape" />
                        </div>
                        <div class="about-shape3 pulse">
                           <img src="shape/shape-13.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-12">
                     <div class="about-content-one">
                        <div class="tj-sec-heading">
                           <span class="sub-title wow fadeInUp" data-wow-delay=".3s"> About Us</span>
                           <h2 class="sec-title wow fadeInUp" data-wow-delay=".5s">Making Your Business More Unique</h2>
                           <div class="desc wow fadeInUp" data-wow-delay=".7s">
                              <p>
                                 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                 form, by injected humour, or randomised words which don't look even slightly believable.
                              </p>
                              <p>
                                 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                 form,
                              </p>
                              <p>by injected humour, or randomised words which don't look even slightly believable.</p>
                           </div>
                           <div class="about-button d-flex wow fadeInUp" data-wow-delay=".9s">
                              <a href="about-us.html" class="tj-secondary-btn btn-border"><span>Read More</span></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="about-section-shape pulse">
               <img src="shape/shape-37.svg" alt="Shape" />
            </div>
         </section>
         <!-- end: About Area -->


         <!-- start: Counter Area -->
         <section class="tj-counter-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="counter-content-area">
                        <div class="counter-item">
                           <div class="tj-count">Project Complete</div>
                           <span class="sub-title">------</span>
                        </div>
                        <div class="counter-item">
                           <div class="tj-count">Quality Team Member</div>
                           <span class="sub-title">------</span>
                        </div>
                        <div class="counter-item">
                           <div class="tj-count">Awards Winning</div>
                           <span class="sub-title">------</span>
                        </div>
                        <div class="counter-item">
                           <div class="tj-count"><span class="odometer" data-count="5">0</span>+</div>
                           <span class="sub-title">Years Of Experience</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="counter-section-shape">
               <div class="counter_shape">
                  <img src="shape/counter-shape.svg" alt="Shape" />
               </div>
               <div class="counter_shape1">
                  <img src="shape/counter-shape1.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: Counter Area -->


         <!-- Start: Portfolio Area -->
         <section class="tj-portfolio-section inc-colum default-padding">
            <div class="container">
               <div class="row align-items-end portfolio-header">
                  <div class="col-lg-6">
                     <div class="tj-sec-heading">
                        <span class="white-sub-title wow fadeInUp" data-wow-delay=".3s">Portfolio</span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">Our Latest Work For Our Best Customer</h2>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="filter-menu wow fadeInRight" data-wow-delay=".5s">
                        <button class="filter active" data-filter="*">All</button>
                        <button class="filter" data-filter=".development">Web Design</button>
                        <button class="filter" data-filter=".marketing">Digital Marketing</button>
                        <button class="filter" data-filter=".seo">SEO</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="portfolio-items-area wow fadeInUp" data-wow-delay=".7s">
                  <div class="row">
                     <div class="col-md-12 portfolio-content">
                        <div class="portfolio-gallery masonary">
                           <div id="portfolio-grid" class="portfolio-items colums-3" style="position: relative; height: 812.468px">
                              <div class="portfolio-single-item marketing finance" style="position: absolute; left: 0%; top: 352px">
                                 <div class="portfolio-single">
                                    <div class="portfolio-image">
                                       <a href="portfolio-details.html"><img src="portfolio/portfolio-1.jpg" alt="Image" /></a>
                                    </div>
                                    <div class="portfolio-content">
                                       <h3 class="title-link">
                                          <a href="portfolio-details.html">Digital Marketing</a>
                                       </h3>
                                       <span class="sub-title">Marketing/Solution</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="portfolio-single-item development finance" style="position: absolute; left: 66.5833%; top: 0px">
                                 <div class="portfolio-single">
                                    <div class="portfolio-image">
                                       <a href="portfolio-details.html"><img src="portfolio/portfolio-2.jpg" alt="Image" /></a>
                                    </div>
                                    <div class="portfolio-content">
                                       <h3 class="title-link">
                                          <a href="portfolio-details.html">Web Development</a>
                                       </h3>
                                       <span class="sub-title">Marketing/Consulting</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="portfolio-single-item capital development" style="position: absolute; left: 66.5833%; top: 352px">
                                 <div class="portfolio-single">
                                    <div class="portfolio-image">
                                       <a href="portfolio-details.html"><img src="portfolio/portfolio-4.jpg" alt="Image" /></a>
                                    </div>
                                    <div class="portfolio-content">
                                       <h3 class="title-link">
                                          <a href="portfolio-details.html">UX/UI Design</a>
                                       </h3>
                                       <span class="sub-title">Marketing/Solution</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="portfolio-single-item capital seo" style="position: absolute; left: 33.25%; top: 459px">
                                 <div class="portfolio-single">
                                    <div class="portfolio-image">
                                       <a href="portfolio-details.html"><img src="portfolio/portfolio-3.jpg" alt="Image" /></a>
                                    </div>
                                    <div class="portfolio-content">
                                       <h3 class="title-link">
                                          <a href="portfolio-details.html"> Branding & SEO </a>
                                       </h3>
                                       <span class="sub-title">Marketing/ Desing Solution</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="portfolio-section-shape">
               <div class="portfolio-bg-shape">
                  <img src="shape/portfolio-shape.svg" alt="Shape" />
               </div>
               <div class="portfolio-bg-shape1">
                  <img src="shape/portfolio-shape1.svg" alt="Shape" />
               </div>
               <div class="portfolio-bg-shape2 shake-y">
                  <img src="shape/shape-19.svg" alt="Shape" />
               </div>
               <div class="portfolio-bg-shape3 pulse">
                  <img src="shape/shape-20.svg" alt="Shape" />
               </div>
               <div class="portfolio-bg-shape4 shake-y">
                  <img src="shape/shape-19.svg" alt="Shape" />
               </div>
               <div class="portfolio-bg-shape5 pulse">
                  <img src="shape/shape-23.svg" alt="Shape" />
               </div>
               <div class="portfolio-bg-shape6 pulse">
                  <img src="shape/shape-38.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: Portfolio Area -->

         <!-- start: FAQ Area -->
         <section class="tj-faq-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">F,A,Q</span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">Our Expert Answers</h2>
                        <div class="desc wow fadeInUp" data-wow-delay=".5s">
                           <p>
                              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                              generator on the Internet. It uses a dictionary of over 200 Latin words,
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row align-items-center">
                  <div class="col-lg-6">
                     <div class="tj-faq-area wow fadeInRight" data-wow-delay=".5s">
                        <div class="accordion tj-faq-style" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                 >
                                    What is a Meet With some form digital platform
                                 </button>
                              </h2>
                              <div
                                 id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                 >
                                    How Can A Digital Platform Helps Your Business Grow?
                                 </button>
                              </h2>
                              <div
                                 id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                 >
                                    How Do I Book My Slot To Meet With Your Technical Team?
                                 </button>
                              </h2>
                              <div
                                 id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                 >
                                    How Many Projects Hove Your Completed So far?
                                 </button>
                              </h2>
                              <div
                                 id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-shape">
                           <img src="shape/shape-26.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="tj-faq-area wow fadeInRight" data-wow-delay=".5s">
                        <div class="accordion tj-faq-style" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                 >
                                    What is a Meet With some form digital platform
                                 </button>
                              </h2>
                              <div
                                 id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                 >
                                    How Can A Digital Platform Helps Your Business Grow?
                                 </button>
                              </h2>
                              <div
                                 id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                 >
                                    How Do I Book My Slot To Meet With Your Technical Team?
                                 </button>
                              </h2>
                              <div
                                 id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                 >
                                    How Many Projects Hove Your Completed So far?
                                 </button>
                              </h2>
                              <div
                                 id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-shape">
                           <img src="shape/shape-26.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="faq-section-shape">
               <div class="faq-bg-shape pulse">
                  <img src="shape/faq-shape.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: FAQ Area -->


         <!-- start: Contact Area -->
         <section class="tj-contact-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="contact-form-area">
                        <div class="contact-left-content">
                           <div class="tj-sec-heading">
                              <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Get In touch</span>
                              <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">Have any Project Plan In your Mind?</h2>
                              <div class="desc wow fadeInUp" data-wow-delay=".5s">
                                 <p>
                                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the
                                    first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                                 </p>
                              </div>
                           </div>
                           <div class="comntact-list wow fadeInUp" data-wow-delay=".6s">
                              <div class="contact-icon">
                                 <img src="icon/phone.svg" alt="Icon" />
                              </div>
                              <div class="contact-header">
                                 <span class="d-block">For urgent help</span>
                                 <a href="tel:+0000123456789">+ 0000 123-456-789</a>
                              </div>
                           </div>
                           <div class="comntact-list wow fadeInUp" data-wow-delay=".7s">
                              <div class="contact-icon">
                                 <img src="icon/mail.svg" alt="Icon" />
                              </div>
                              <div class="contact-header">
                                 <span class="d-block">Mail us 24/7</span>
                                 <a href="mailto:hello@gmail.com">hello@gmail.com</a>
                              </div>
                           </div>
                        </div>
                        <form id="contact-form" class="contact-form-box wow fadeInRight" data-wow-delay=".9s">
                           <div class="form-input">
                              <label>Your Name</label>
                              <input type="text" class="form__input" name="conName" />
                           </div>
                           <div class="form-input">
                              <label>Email Address</label>
                              <input type="email" class="form__input" name="conEmail" />
                           </div>
                           <div class="form-textarea">
                              <label>How can help you?</label>
                              <textarea id="message" name="conMessage"></textarea>
                           </div>
                           <div class="tj-contact-button">
                              <button class="btn tj-primary-btn" type="submit">Submit Now</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="contact-section-shape">
               <div class="contact-bg-shape shake-y">
                  <img src="shape/shape-31.svg" alt="Shape" />
               </div>
               <div class="contact-bg-shape1 pulse">
                  <img src="shape/shape-32.svg" alt="Shape" />
               </div>
               <div class="contact-bg-shape2 pulse">
                  <img src="shape/shape-33.svg" alt="Shape" />
               </div>
               <div class="contact-bg-shape3 shake-y">
                  <img src="shape/shape-34.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: Contact Area -->

         <!-- BEGIN: Contact Form Success Modal Message -->
         <div class="modal" id="message_sent" tabindex="-1">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header alert alert-success">
                     <h5 class="modal-title">Message Sent Successfully</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <p>Thank you for contacting us. We will get back to you shortly.<br />Have a great day!</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: Contact Form Success Modal Message -->

         <!-- BEGIN: Contact Form Fail Modal Message -->
         <div class="modal" id="message_fail" tabindex="-1">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header alert alert-danger">
                     <h5 class="modal-title">Error</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <p>Oops! Something went wrong, please try again.</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: Contact Form Fail Modal Message End -->
      </main>

      <!-- start: Footer Area -->
      <footer class="tj-footer-area">
         <div class="footer-menu-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3">
                     <div class="footer-widget footer1-col-1">
                        <div class="footer-content-info">
                           <div class="footer-logo">
                              <a href="index.html">
                                 <img src="logo/footer-logo.png" alt="Logo" />
                              </a>
                           </div>
                           <p>
                              We craft products to meet your unique business needs and goals. Whether you’re starting from scratch or looking to upgrade existing software.
                           </p>
                           <div class="footer-share">
                              <ul class="dot-style">
                                 <li>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M8.51962 6.1948L13.8489 0H12.586L7.95861 5.37887L4.26275 0H0L5.58887 8.13379L0 14.63H1.26293L6.14957 8.94974L10.0527 14.63H14.3154L8.51929 6.1948H8.51962ZM1.71797 0.950725H3.65775L12.5866 13.7225H10.6468L1.71797 0.950725Z"
                                             fill="#161616"
                                          />
                                       </svg>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-2">
                        <h4 class="footer_title">Departments</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">Family Medicine</a></li>
                                 <li><a href="#">Radiology</a></li>
                                 <li><a href="#">Women’s Health</a></li>
                                 <li><a href="#">Optician</a></li>
                                 <li><a href="#">Pediatrics</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-3">
                        <h4 class="footer_title">Useful Link</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">Blog Grid</a></li>
                                 <li><a href="#">Blog Standard</a></li>
                                 <li><a href="#">Blog Details</a></li>
                                 <li><a href="#">Our Services</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-4">
                        <h4 class="footer_title">Company</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">About us</a></li>
                                 <li><a href="#">Services</a></li>
                                 <li><a href="#">Contact Us</a></li>
                                 <li><a href="#">Out Team</a></li>
                                 <li><a href="#">Pricing</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-5">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="widget_contact_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li>
                                    <span><i class="fa-sharp fa-regular fa-envelope"></i></span>
                                    <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-solid fa-globe"></i></span><a href="#">www.website.com</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                                    <a href="#">225 Marion Street, Columbia</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-solid fa-phone-volume"></i></span>
                                    <a href="tel:+00123456789">443-840-8723</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="copyright-content-area">
                        <div class="copyright-left-content">
                           <p>Copyright © 2023 <a href="#" target="_blank"> ossean. </a> All Rights Reserved.</p>
                        </div>
                        <div class="copyright-menu">
                           <ul>
                              <li><a href="#">Setting & Privacy</a></li>
                              <li><a href="#">FAQ</a></li>
                              <li><a href="#">Support</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-section-shape">
            <div class="footer-bg-shape">
               <img src="banner-bg/footer-bg-shape.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape1">
               <img src="banner-bg/footer-bg-shape1.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape2 shake-y">
               <img src="shape/shape-35.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape3 pulse">
               <img src="shape/shape-36.svg" alt="Shape" />
            </div>
         </div>
      </footer>
      <!-- end: Footer Area -->

      <!-- start: Scroll Area -->
      <div class="webency-scroll-top">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path
               d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
               style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 71.1186px"
            ></path>
         </svg>
         <div class="webency-scroll-top-icon">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true"
               role="img"
               width="1em"
               height="1em"
               viewBox="0 0 24 24"
               data-icon="mdi:arrow-up"
               class="iconify iconify--mdi"
            >
               <path fill="currentColor" d="M13 20h-2V8l-5.5 5.5l-1.42-1.42L12 4.16l7.92 7.92l-1.42 1.42L13 8v12Z"></path>
            </svg>
         </div>
      </div>
      <!-- end: Scroll Area -->

      <!-- JS here -->
      <script src="jquery.min.js"></script>
      <script src="bootstrap.bundle.min.js"></script>
      <script src="meanmenu.js"></script>
      <script src="swiper.min.js"></script>
      <script src="jquery.appear.min.js"></script>
      <script src="wow.min.js"></script>
      <script src="odometer.min.js"></script>
      <script src="imagesloaded-pkgd.js"></script>
      <script src="magnific-popup.js"></script>
      <script src="isotope.pkgd.min.js"></script>
      <script src="validate.min.js"></script>
      <script src="main.js"></script>
   </body>
</html>
