{% extends "base.html" %}

{% block content %}

   <body>
      {% include "loader.html" %}
      <main class="site-content">
         <!-- start: Hero Area -->
         <section class="tj-slider-section">
            <div class="swiper tj-hero-slider">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Mobile App Design Services</span>
                              <div class="desc">
                                 <p>
                                   Welcome to our Mobile App Design Services page, where innovation meets functionality to create immersive digital experiences for your audience. At oosean, we specialize in crafting intuitive and engaging mobile apps that elevate your brand and drive user engagement. Whether you're looking to launch a new app or enhance your existing one, our team of expert designers is here to bring your vision to life.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Mobile App Design Services</span>
                              <div class="desc">
                                 <p>
                                   We are committed to delivering apps that drive results for your business, whether it's increased user engagement, retention, or conversions. Our focus is on delivering measurable outcomes that help you achieve your objectives.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </section>
         <!-- end: Hero Area -->


         <!-- start: Service Area -->
         <section class="tj-service-section-two">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">About Our  Services </span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s"> Let's create something extraordinary <span class="active-color">Together!</span></h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">01</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Custom Desings</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Our designers create custom mobile apps tailored to your brand's unique needs and objectives. Whether you're targeting iOS, Android, or both, we'll work with you to design an app that stands out.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">02</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">UI/UX Designg</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>We prioritize user experience in our app designs, focusing on intuitive navigation, clear calls-to-action, and engaging interactions to ensure a seamless and enjoyable experience for your users.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">03</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Prototype Development</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    We create interactive prototypes and templates that allow you to visualize your app's user experience before development begins, ensuring that we're on the right track from the start.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">04</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Responsive Design</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    With the increasing use of mobile devices, it's essential that your app looks great and functions seamlessly across all screen sizes. We design responsive apps that adapt to any device, ensuring a consistent and optimal experience for your users.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Service Area -->

         <!-- end: CTA Area -->
      {% include "pricing.html" %}
      </main>
   </body>
{% endblock content %}