


<!-- start: Pricing Area -->
<section class="tj-price-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="tj-sec-heading">
               <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Pricing Plan</span>
               <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s">
                  A collection of leads and <span class="active-color">sales tools</span>
               </h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="tj-price-item wow fadeInUp" data-wow-delay=".5s">
               <div class="tj-price-content-area">
                  <div class="price-top-content">
                     <div class="price-icon">
                        <i class="flaticon-verify"></i>
                     </div>
                     <div class="price-text">
                        <h3 class="title">Basic Plan</h3>
                        <span class="price">$60</span>
                     </div>
                  </div>
                  <div class="price-bottom-content">
                     <div class="price-list">
                        <ul class="dot-style">
                           <li><i class="flaticon-next"></i>Great Customer Support</li>
                           <li><i class="flaticon-next"></i>Market Growth Solution</li>
                           <li><i class="flaticon-next"></i>Mobile Phone Optimized</li>
                           <li><i class="flaticon-next"></i>Free custom domain</li>
                           <li><i class="flaticon-next"></i>Annual Purchase</li>
                           <li><i class="flaticon-next"></i>Hosting Day</li>
                        </ul>
                     </div>
                     <div class="price-button d-flex">
                        <a href="contact.html" class="btn tj-black-btn">Choose Plan</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="tj-price-item price-active wow fadeInUp" data-wow-delay=".6s">
               <div class="tj-price-content-area">
                  <div class="price-top-content">
                     <div class="price-icon">
                        <i class="flaticon-laurel-wreath"></i>
                     </div>
                     <div class="price-text">
                        <h3 class="title">Premium plan</h3>
                        <span class="price">$660</span>
                     </div>
                  </div>
                  <div class="price-bottom-content">
                     <div class="price-list">
                        <ul class="dot-style">
                           <li><i class="flaticon-next"></i>Great Customer Support</li>
                           <li><i class="flaticon-next"></i>Market Growth Solution</li>
                           <li><i class="flaticon-next"></i>Mobile Phone Optimized</li>
                           <li><i class="flaticon-next"></i>Free custom domain</li>
                           <li><i class="flaticon-next"></i>Annual Purchase</li>
                           <li><i class="flaticon-next"></i>Hosting Day</li>
                        </ul>
                     </div>
                     <div class="price-button d-flex">
                        <a href="contact.html" class="btn tj-black-btn">Choose Plan</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="tj-price-item wow fadeInUp" data-wow-delay=".7s">
               <div class="tj-price-content-area">
                  <div class="price-top-content">
                     <div class="price-icon">
                        <i class="flaticon-quality"></i>
                     </div>
                     <div class="price-text">
                        <h3 class="title">Standard Plan</h3>
                        <span class="price">$160</span>
                     </div>
                  </div>
                  <div class="price-bottom-content">
                     <div class="price-list">
                        <ul class="dot-style">
                           <li><i class="flaticon-next"></i>Great Customer Support</li>
                           <li><i class="flaticon-next"></i>Market Growth Solution</li>
                           <li><i class="flaticon-next"></i>Mobile Phone Optimized</li>
                           <li><i class="flaticon-next"></i>Free custom domain</li>
                           <li><i class="flaticon-next"></i>Annual Purchase</li>
                           <li><i class="flaticon-next"></i>Hosting Day</li>
                        </ul>
                     </div>
                     <div class="price-button d-flex">
                        <a href="contact.html" class="btn tj-black-btn">Choose Plan</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end: Pricing Area -->

