<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="" />

      <!-- Site Title -->
      <title>Webency - Web Design Agency HTML5 Template</title>

      <!-- Place favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="assets/images/fav.svg" />
      <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.svg" />

      <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="assets/css/font-awesome-pro.min.css" />
      <link rel="stylesheet" href="assets/css/animate.min.css" />
      <link rel="stylesheet" href="assets/css/flaticon_webency.css" />
      <link rel="stylesheet" href="assets/css/odometer.min.css" />
      <link rel="stylesheet" href="assets/css/magnific-popup.css" />
      <link rel="stylesheet" href="assets/css/swiper.min.css" />
      <link rel="stylesheet" href="assets/css/meanmenu.css" />
      <link rel="stylesheet" href="assets/css/main.css" />
   </head>

   <body>
      <!-- start: Preloader -->
      <div class="preloader" id="preloader">
         <div class="preloader-inner">
            <div class="lines">
               <span class="line line-1"></span>
               <span class="line line-2"></span>
               <span class="line line-3"></span>
               <span class="line line-4"></span>
               <span class="line line-5"></span>
               <span class="line line-6"></span>
               <span class="line line-7"></span>
               <span class="line line-8"></span>
               <span class="line line-9"></span>
            </div>
            <div class="text">Loading</div>
         </div>
         <button class="tj-cancel-btn">Cancel Preloader</button>
      </div>
      <!-- end: Preloader -->

      <!-- start: Mobile Menu -->
      <div id="tj-overlay-bg2" class="tj-overlay-canvas d-lg-none"></div>
      <div class="tj-offcanvas-area d-lg-none">
         <div class="tj-offcanvas-header d-flex align-items-center justify-content-between">
            <div class="logo-area text-center">
               <a href="index.html"><img src="assets/images/logo/white-logo.png" alt="Logo" /></a>
            </div>
            <div class="offcanvas-icon">
               <a id="canva_close" href="#">
                  <i class="fa-light fa-xmark"></i>
               </a>
            </div>
         </div>
         <div class="tj-search-box">
            <form action="#">
               <input type="text" name="search" id="search" placeholder="Search" />
               <a href="#"> <i class="fal fa-search"></i></a>
            </form>
         </div>
         <nav class="right_menu_togle mobile-navbar-menu d-lg-none" id="mobile-navbar-menu"></nav>
         <div class="mobile-contact">
            <div class="contact-menu">
               <ul class="dot-style">
                  <li>
                     <span><i class="fa-sharp fa-regular fa-envelope"></i></span>
                     <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                  </li>
                  <li>
                     <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                     <a href="#">225 Marion Street, Columbia</a>
                  </li>
                  <li>
                     <span><i class="fa-solid fa-phone-volume"></i></span>
                     <a href="tel:+00123456789">+ 00 123 456 789</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="mobile-share">
            <ul class="dot-style">
               <li>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
               </li>
               <li>
                  <a href="#">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
               </li>
               <li>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
               </li>
               <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
               </li>
            </ul>
         </div>
         <div class="header-button">
            <a class="btn tj-black-btn" href="contact.html">Contact Us</a>
         </div>
      </div>
      <!-- end: Mobile Menu -->

      <!-- start: Header Area -->
      <header class="tj-header-area header-sticky">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-12">
                  <div class="header-content-area">
                     <div class="logo-area">
                        <div class="logo">
                           <a href="index.html"><img src="assets/images/logo/white-logo.png" alt="Logo" /></a>
                        </div>
                     </div>
                     <div class="tj-menu-area d-lg-block d-none" id="main-menu">
                        <nav id="mobile-menu">
                           <ul>
                              <li class="has-dropdown">
                                 <a href="index.html">Home</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="index.html">Home One</a>
                                    </li>
                                    <li><a href="index-2.html">Home Two</a></li>
                                    <li><a href="index-3.html">Home Three</a></li>
                                    <li><a href="index-4.html">Home Four</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="about-us.html">About Us</a>
                              </li>
                              <li class="has-dropdown">
                                 <a href="service.html">Services</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="service.html">Services</a>
                                    </li>
                                    <li class="active">
                                       <a class="active" href="service-details.html">Services Details</a>
                                    </li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                 <a href="#">Pages</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="portfolio.html">Portfolio</a>
                                    </li>
                                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="team.html">Team</a></li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                 <a href="blog-grid.html">Blog</a>
                                 <ul class="sub-menu">
                                    <li>
                                       <a href="blog-grid.html">Blog Grid</a>
                                    </li>
                                    <li><a href="blog-standard.html">Blog Standard</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                 </ul>
                              </li>
                              <li><a href="contact.html">Contact</a></li>
                           </ul>
                        </nav>
                     </div>
                     <div class="header-button d-none d-lg-block">
                        <a href="contact.html" class="tj-secondary-btn btn-border"><span>Contact Us</span></a>
                     </div>
                     <div class="tj-canva-icon d-lg-none">
                        <a class="canva_expander nav-menu-link menu-button" href="#">
                           <span class="dot1"></span>
                           <span class="dot2"></span>
                           <span class="dot3"></span>
                           <span class="dot4"></span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end: Header Area -->

      <main class="site-content">
         <!-- start: Breadcrumb Area -->
         <section class="breadcrumb-wrapper">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="breadcrumb-content-area">
                        <div class="breadcrumb-heading">
                           <h1 class="breadcrumb-title">Services Details</h1>
                        </div>
                        <div class="breadcrumb-link">
                           <span>
                              <a href="index.html">
                                 <span>Home</span>
                              </a>
                           </span>
                           <i class="fa-light fa-angle-right"></i>
                           <span>
                              <span>Services Details</span>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tj-breadcrumb-shape">
               <div class="breadcrumb-shape-one">
                  <img src="assets/images/shape/breadcrumb-1.svg" alt="Shape" />
               </div>
               <div class="breadcrumb-shape-two">
                  <img src="assets/images/shape/breadcrumb-2.svg" alt="Shape" />
               </div>
               <div class="breadcrumb-shape-1 pulse">
                  <img src="assets/images/shape/shape-7.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-2 shake-y">
                  <img src="assets/images/shape/shape-4.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-3 pulse">
                  <img src="assets/images/shape/shape-6.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-4 shake-y">
                  <img src="assets/images/shape/shape-4.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-5 pulse">
                  <img src="assets/images/shape/shape-6.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-6 pulse">
                  <img src="assets/images/shape/shape-51.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-7 shake-y">
                  <img src="assets/images/shape/shape-5.svg" alt="Icon" />
               </div>
               <div class="breadcrumb-shape-8 pulse">
                  <img src="assets/images/shape/shape-6.svg" alt="Icon" />
               </div>
            </div>
         </section>
         <!-- end: Breadcrumb Area -->

         <!-- start: Service Details Area -->
         <section class="tj-service-details">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="sidebar-wrapper service-wrapper">
                        <div class="blog-thumb-image">
                           <img src="assets/images/service/service-5.jpg" alt="Image" />
                        </div>
                        <div class="details-title">
                           <h3 class="title">Digital Marketing</h3>
                        </div>
                        <p>
                           At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                           quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa deserunt mollitia
                           animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        </p>
                        <p>
                           Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                           possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
                           rerum.
                        </p>
                        <p>
                           There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                           injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
                           Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        </p>
                        <div class="row services-item">
                           <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="service-details-item">
                                 <div class="service-icon">
                                    <i class="flaticon-design"></i>
                                 </div>
                                 <div class="service-content">
                                    <h4 class="title">Logo Design</h4>
                                    <p>
                                       look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their.
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="service-details-item">
                                 <div class="service-icon">
                                    <i class="flaticon-graphic-design-1"></i>
                                 </div>
                                 <div class="service-content">
                                    <h4 class="title">Web Design</h4>
                                    <p>
                                       look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their.
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <p>
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                              quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                              deserunt mollitia animi, id est laborum et dolorum fuga.
                           </p>
                        </div>
                        <div class="blog-video-area">
                           <div class="row video-box align-items-center">
                              <div class="col-lg-6 col-md-6">
                                 <div class="video-image">
                                    <img src="assets/images/blog/blog-8.jpg" alt="Image" />
                                    <div class="video-play">
                                       <a
                                          class="venobox popup-videos-button"
                                          data-autoplay="true"
                                          data-vbtype="video"
                                          href="https://www.youtube.com/watch?v=ADmQTw4qqTY"
                                       >
                                          <i class="fa-sharp fa-solid fa-play"></i>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="video-content">
                                    <h4 class="title">Digital Marketing</h4>
                                    <p>
                                       At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                                       corrupti quos dolores.
                                    </p>
                                    <div class="check-list">
                                       <ul class="list dot-style">
                                          <li><i class="fa-light fa-angle-right"></i> Use the latest diagnostic equipment.</li>
                                          <li><i class="fa-light fa-angle-right"></i> Automotive services for out clients</li>
                                          <li><i class="fa-light fa-angle-right"></i> Quick dedicated support team.</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <p>
                              "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
                              charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to
                              ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying
                              through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
                           </p>
                        </div>
                        <div class="tj-faq-area">
                           <div class="accordion tj-faq-style" id="accordionExample">
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingOne">
                                    <button
                                       class="accordion-button"
                                       type="button"
                                       data-bs-toggle="collapse"
                                       data-bs-target="#collapseOne"
                                       aria-expanded="true"
                                       aria-controls="collapseOne"
                                    >
                                       What is a Meet With some form digital platform
                                    </button>
                                 </h2>
                                 <div
                                    id="collapseOne"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample"
                                 >
                                    <div class="accordion-body">
                                       <strong
                                          >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                                          in some form, by injected humour.</strong
                                       >
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingTwo">
                                    <button
                                       class="accordion-button collapsed"
                                       type="button"
                                       data-bs-toggle="collapse"
                                       data-bs-target="#collapseTwo"
                                       aria-expanded="false"
                                       aria-controls="collapseTwo"
                                    >
                                       How Can A Digital Platform Helps Your Business Grow?
                                    </button>
                                 </h2>
                                 <div
                                    id="collapseTwo"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample"
                                 >
                                    <div class="accordion-body">
                                       <strong
                                          >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                                          in some form, by injected humour.</strong
                                       >
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingThree">
                                    <button
                                       class="accordion-button collapsed"
                                       type="button"
                                       data-bs-toggle="collapse"
                                       data-bs-target="#collapseThree"
                                       aria-expanded="false"
                                       aria-controls="collapseThree"
                                    >
                                       How Do I Book My Slot To Meet With Your Technical Team?
                                    </button>
                                 </h2>
                                 <div
                                    id="collapseThree"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample"
                                 >
                                    <div class="accordion-body">
                                       <strong
                                          >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                                          in some form, by injected humour.</strong
                                       >
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="headingFour">
                                    <button
                                       class="accordion-button collapsed"
                                       type="button"
                                       data-bs-toggle="collapse"
                                       data-bs-target="#collapseFour"
                                       aria-expanded="false"
                                       aria-controls="collapseFour"
                                    >
                                       How Many Projects Hove Your Completed So far?
                                    </button>
                                 </h2>
                                 <div
                                    id="collapseFour"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample"
                                 >
                                    <div class="accordion-body">
                                       <strong
                                          >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                                          in some form, by injected humour.</strong
                                       >
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="tj-main-sidebar">
                        <div class="tj-services-widget">
                           <h3 class="side-title">All Services</h3>
                           <div class="sidebar-catagory">
                              <ul class="dot-style">
                                 <li>
                                    <a href="#"
                                       >Branding & Art
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Digital Marketing
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Design & Development
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >3D Animation
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Branding & Illustration
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"
                                       >Web Development
                                       <span> <i class="fa-light fa-angle-right"></i></span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="tj-services-widget">
                           <div class="sidebar-contact">
                              <div class="contact-icon">
                                 <img src="assets/images/icon/phone3.svg" alt="Icon" />
                              </div>
                              <div class="contact-link">
                                 <a href="tel:+001234566789">+ 00 123 456 6789</a>
                              </div>
                              <span
                                 >Monday - Friday: 7:00 am - 8:00pm 24/7 <br />
                                 Emergency Service</span
                              >
                              <div class="contact-shape">
                                 <img src="assets/images/icon/service-shape2.svg" alt="Shape" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tj-services-shape">
               <div class="shape-one">
                  <img src="assets/images/icon/service-shape.svg" alt="Shape" />
               </div>
               <div class="shape-two">
                  <img src="assets/images/icon/service-shape1.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: Service Details Area -->
      </main>

      <!-- start: Footer Area -->
      <footer class="tj-footer-area">
         <div class="footer-menu-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3">
                     <div class="footer-widget footer1-col-1">
                        <div class="footer-content-info">
                           <div class="footer-logo">
                              <a href="index.html">
                                 <img src="assets/images/logo/footer-logo.png" alt="Logo" />
                              </a>
                           </div>
                           <p>
                              The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                              'Content here.
                           </p>
                           <div class="footer-share">
                              <ul class="dot-style">
                                 <li>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M8.51962 6.1948L13.8489 0H12.586L7.95861 5.37887L4.26275 0H0L5.58887 8.13379L0 14.63H1.26293L6.14957 8.94974L10.0527 14.63H14.3154L8.51929 6.1948H8.51962ZM1.71797 0.950725H3.65775L12.5866 13.7225H10.6468L1.71797 0.950725Z"
                                             fill="#161616"
                                          />
                                       </svg>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-2">
                        <h4 class="footer_title">Departments</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">Family Medicine</a></li>
                                 <li><a href="#">Radiology</a></li>
                                 <li><a href="#">Women’s Health</a></li>
                                 <li><a href="#">Optician</a></li>
                                 <li><a href="#">Pediatrics</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-3">
                        <h4 class="footer_title">Useful Link</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">Blog Grid</a></li>
                                 <li><a href="#">Blog Standard</a></li>
                                 <li><a href="#">Blog Details</a></li>
                                 <li><a href="#">Our Services</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-4">
                        <h4 class="footer_title">Company</h4>
                        <div class="widget_nav_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li><a href="#">About us</a></li>
                                 <li><a href="#">Services</a></li>
                                 <li><a href="#">Contact Us</a></li>
                                 <li><a href="#">Out Team</a></li>
                                 <li><a href="#">Pricing</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-widget footer1-col-5">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="widget_contact_menu">
                           <div class="footer-menu">
                              <ul>
                                 <li>
                                    <span><i class="fa-sharp fa-regular fa-envelope"></i></span>
                                    <a href="mailto:Info@gmail.com">Info@gmail.com</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-solid fa-globe"></i></span><a href="#">www.website.com</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                                    <a href="#">225 Marion Street, Columbia</a>
                                 </li>
                                 <li>
                                    <span><i class="fa-solid fa-phone-volume"></i></span>
                                    <a href="tel:+00123456789">+ 00 123 456 789</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="copyright-content-area">
                        <div class="copyright-left-content">
                           <p>Copyright © 2023 <a href="#" target="_blank"> ThemeJunction. </a> All Rights Reserved.</p>
                        </div>
                        <div class="copyright-menu">
                           <ul>
                              <li><a href="#">Setting & Privacy</a></li>
                              <li><a href="#">FAQ</a></li>
                              <li><a href="#">Support</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-section-shape">
            <div class="footer-bg-shape">
               <img src="assets/images/banner-bg/footer-bg-shape.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape1">
               <img src="assets/images/banner-bg/footer-bg-shape1.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape2 shake-y">
               <img src="assets/images/shape/shape-35.svg" alt="Shape" />
            </div>
            <div class="footer-bg-shape3 pulse">
               <img src="assets/images/shape/shape-36.svg" alt="Shape" />
            </div>
         </div>
      </footer>
      <!-- end: Footer Area -->

      <!-- start: Scroll Area -->
      <div class="webency-scroll-top">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path
               d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
               style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 71.1186px"
            ></path>
         </svg>
         <div class="webency-scroll-top-icon">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               aria-hidden="true"
               role="img"
               width="1em"
               height="1em"
               viewBox="0 0 24 24"
               data-icon="mdi:arrow-up"
               class="iconify iconify--mdi"
            >
               <path fill="currentColor" d="M13 20h-2V8l-5.5 5.5l-1.42-1.42L12 4.16l7.92 7.92l-1.42 1.42L13 8v12Z"></path>
            </svg>
         </div>
      </div>
      <!-- end: Scroll Area -->

      <!-- JS here -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/meanmenu.js"></script>
      <script src="assets/js/swiper.min.js"></script>
      <script src="assets/js/jquery.appear.min.js"></script>
      <script src="assets/js/wow.min.js"></script>
      <script src="assets/js/odometer.min.js"></script>
      <script src="assets/js/imagesloaded-pkgd.js"></script>
      <script src="assets/js/magnific-popup.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/validate.min.js"></script>
      <script src="assets/js/main.js"></script>
   </body>
</html>
