$colors: (
   common: (
      white: #ffffff,
      black: #3a3a3a,
   ),
   heading: (
      primary: #3a3a3a,
   ),
   text: (
      body: #727272,
   ),
   theme: (
      primary: #5f39ff,
      secondary: #20d9a1,
   ),
   grey: (
      1: #dcdee7,
      2: #0e0e0e,
      3: #313131,
      4: #d9d9d9,
      5: #fafafc,
      6: #282828,
      7: #dcdee7,
      8: #eeecff,
      9: #a1acb3,
      10: #f8f7ff,
      11: #575757,
   ),
   light: (
      1: #e4e1ff,
      2: #f8f7ff,
      3: #705fff,
      4: #fafffd,
      5: #d4fff2,
      6: #9e92ff,
      7: #e4e1ff,
      8: #d6d1ff,
      9: #3f8acf,
      10: #8677ff,
      11: #3100ff,
      12: #fd31bc,
      13: #f5f4ff,
   ),
   extra: (
      1: #ff647c,
      2: #ffb800,
      3: #0cb770,
      4: #7b61ff,
   ),
   border: (
      1: #e4e1ff,
      2: #bcb4ff,
      3: #a1acb3,
   ),
);
