{% extends "base.html" %}

{% block content %}

   <body>
      <main class="site-content">
         <!-- start: Breadcrumb Area -->
         <section class="breadcrumb-wrapper">
            <div class="container">
               <div class="row blurr">
                  <div class="col-lg-12">
                     <div class="breadcrumb-content-area">
                        <div class="breadcrumb-heading">
                           <h1 class="breadcrumb-title">F.A.Q</h1>
                        </div>
                        <div class="breadcrumb-link">
                           <span>
                              <a href="index.html">
                                 <span>Home</span>
                              </a>
                           </span>
                           <i class="fa-light fa-angle-right"></i>
                           <span>
                              <span>F.A.Q</span>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </section>
         <!-- end: Breadcrumb Area -->

         <!-- start: FAQ Area -->

         <!-- start: FAQ Area -->
         <section class="tj-faq-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">F,A,Q</span>
                        <div class="desc wow fadeInUp" data-wow-delay=".5s">
                           <p>
                              Looking for answers to your tech questions ? Our FAQ section is designed to
                              provide you with quick, clear insights into our processes, services, and how we can help bring your digital vision to life.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row align-items-center">
                  <div class="col-lg-6">
                     <div class="tj-faq-area wow fadeInRight" data-wow-delay=".5s">
                        <div class="accordion tj-faq-style" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                 >
                                    What is a Meet With some form digital platform
                                 </button>
                              </h2>
                              <div
                                 id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                 >
                                    How Can A Digital Platform Helps Your Business Grow?
                                 </button>
                              </h2>
                              <div
                                 id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                 >
                                    How Do I Book My Slot To Meet With Your Technical Team?
                                 </button>
                              </h2>
                              <div
                                 id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                 >
                                    How Many Projects Hove Your Completed So far?
                                 </button>
                              </h2>
                              <div
                                 id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-shape">
                           <img src="shape/shape-26.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
               </div>
                              <div class="row align-items-center">
                  <div class="col-lg-6">
                     <div class="tj-faq-area wow fadeInRight" data-wow-delay=".5s">
                        <div class="accordion tj-faq-style" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                 >
                                    What is a Meet With some form digital platform
                                 </button>
                              </h2>
                              <div
                                 id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                 >
                                    How Can A Digital Platform Helps Your Business Grow?
                                 </button>
                              </h2>
                              <div
                                 id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                 >
                                    How Do I Book My Slot To Meet With Your Technical Team?
                                 </button>
                              </h2>
                              <div
                                 id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                 >
                                    How Many Projects Hove Your Completed So far?
                                 </button>
                              </h2>
                              <div
                                 id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-shape">
                           <img src="shape/shape-26.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="faq-section-shape">
               <div class="faq-bg-shape pulse">
                  <img src="shape/faq-shape.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: FAQ Area -->


         <!-- start: FAQ Area -->
         <section class="tj-faq-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">F,A,Q</span>
                        <div class="desc wow fadeInUp" data-wow-delay=".5s">
                           <p>
                              Looking for answers to your tech questions ? Our FAQ section is designed to
                              provide you with quick, clear insights into our processes, services, and how we can help bring your digital vision to life.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row align-items-center">
                  <div class="col-lg-6">
                     <div class="tj-faq-area wow fadeInRight" data-wow-delay=".5s">
                        <div class="accordion tj-faq-style" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                 >
                                    What is a Meet With some form digital platform
                                 </button>
                              </h2>
                              <div
                                 id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                 >
                                    How Can A Digital Platform Helps Your Business Grow?
                                 </button>
                              </h2>
                              <div
                                 id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                 >
                                    How Do I Book My Slot To Meet With Your Technical Team?
                                 </button>
                              </h2>
                              <div
                                 id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                 >
                                    How Many Projects Hove Your Completed So far?
                                 </button>
                              </h2>
                              <div
                                 id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-shape">
                           <img src="shape/shape-26.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="tj-faq-area wow fadeInRight" data-wow-delay=".5s">
                        <div class="accordion tj-faq-style" id="accordionExample">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                 <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                 >
                                    What is a Meet With some form digital platform
                                 </button>
                              </h2>
                              <div
                                 id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                 >
                                    How Can A Digital Platform Helps Your Business Grow?
                                 </button>
                              </h2>
                              <div
                                 id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                 >
                                    How Do I Book My Slot To Meet With Your Technical Team?
                                 </button>
                              </h2>
                              <div
                                 id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                 <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                 >
                                    How Many Projects Hove Your Completed So far?
                                 </button>
                              </h2>
                              <div
                                 id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample"
                              >
                                 <div class="accordion-body">
                                    <strong
                                       >There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                                       some form, by injected humour.</strong
                                    >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="accordion-shape">
                           <img src="shape/shape-26.svg" alt="Shape" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="faq-section-shape">
               <div class="faq-bg-shape pulse">
                  <img src="shape/faq-shape.svg" alt="Shape" />
               </div>
            </div>
         </section>
         <!-- end: FAQ Area -->


      </main>
   </body>
{% endblock content %}
