{% extends "base.html" %}

{% block content %}
   {% include "loader.html" %}
   <body>
      <main class="site-content">
         <!-- start: Hero Area -->
         <section class="tj-slider-section">
            <div class="swiper tj-hero-slider">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Graphic Design Services</span>
                              <div class="desc">
                                 <p>
                                   Welcome to our Graphic Design Services page, where creativity meets innovation to bring your brand to life. We specialize in crafting visually stunning designs that captivate your audience and elevate your brand to new heights. Whether you need a captivating logo, striking marketing materials, or engaging visuals for your digital presence, our team of talented graphic designers is here to turn your vision into reality.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Our Approach</span>
                              <div class="desc">
                                 <p>
                                    We understand that every brand is unique, and we tailor our approach to meet the specific needs and objectives of each client. Our collaborative process ensures that we capture the essence of your brand and convey your message effectively through our designs. From concept development to final execution, we work closely with you every step of the way to ensure we deliver designs that exceed your expectations.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </section>
         <!-- end: Hero Area -->


         <!-- start: Service Area -->
         <section class="tj-service-section-two">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">About Our  Services </span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s"> Let's build you vision <span class="active-color">Together!</span></h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">01</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Brand Desings</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Your logo is the cornerstone of your brand identity. Our expert designers create timeless logos that resonate with your target audience and leave a lasting impression.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">02</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Marketing Collateral</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>From brochures and flyers to posters and banners, we design eye-catching marketing collateral that drives engagement and promotes brand awareness.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">03</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Packaging Design</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Stand out on the shelves with captivating packaging design that not only showcases your product but also communicates your brand story effectively..
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Service Area -->

         <!-- end: CTA Area -->
      {% include "pricing.html" %}
      </main>
   </body>
{% endblock content %}
