
{% extends "base.html" %}

{% block content %}

   <body>
      {% include "loader.html" %}
      <main class="site-content">
         <!-- start: Hero Area -->
         <section class="tj-slider-section">
            <div class="swiper tj-hero-slider">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Website Design Services</span>
                              <div class="desc">
                                 <p>
                                   Where innovation meets functionality we specialize in crafting sleek, user-friendly websites that not only look great but also drive results for your business. Whether you're looking to establish your online presence, showcase your products, or drive conversions, our team of expert web designers is here to bring your vision to life.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Website Design Services</span>
                              <div class="desc">
                                 <p>
                                   We are committed to delivering websites that drive results for your business, whether it's increased traffic, leads, or conversions.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </section>
         <!-- end: Hero Area -->


         <!-- start: Service Area -->
         <section class="tj-service-section-two">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">About Our  Services </span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s"> Let's elevate your online presence  <span class="active-color">Together!</span></h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">01</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Website Designs</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Our expert designers create custom websites tailored to your brand's unique needs and objectives. Whether you're starting from scratch or looking to revamp your existing site, we'll work with you to design a website that sets you apart from the competition.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">02</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Responsive Design</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>With the increasing use of mobile devices, it's essential that your website looks great and functions seamlessly across all screen sizes. We design responsive websites that adapt to any device, ensuring a consistent and optimal browsing experience for your users.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">03</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Ecommerce Solutions</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Ready to take your online store to the next level? We design and develop robust e-commerce websites that are easy to manage, secure, and optimized for driving sales and revenue.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">04</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Content Management Systems (CMS)</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Depending on what you want we also specialize in developing websites on popular CMS platforms like WordPress, Joomla, and Drupal, giving you the flexibility and control to manage your content with ease.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">05</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">User Experience (UX) Design</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    We prioritize user experience in our website designs, focusing on intuitive navigation, clear calls-to-action, and engaging interactions to ensure a seamless and enjoyable browsing experience for your visitors.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Service Area -->

         <!-- end: CTA Area -->
      {% include "pricing.html" %}
      </main>
   </body>
{% endblock content %}
