{% extends "base.html" %}

{% block content %}
   {% include "loader.html" %}
   <body>
      <main class="site-content">
         <!-- start: Hero Area -->
         <section class="tj-slider-section">
            <div class="swiper tj-hero-slider">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Web Radio</span>
                              <div class="desc">
                                 <p>
                                   Welcome to our Mobile App Design Services page, where innovation meets functionality to create immersive digital experiences for your audience. At oosean, we specialize in crafting intuitive and engaging mobile apps that elevate your brand and drive user engagement. Whether you're looking to launch a new app or enhance your existing one, our team of expert designers is here to bring your vision to life.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide" data-bg-image="templates/assets/images/banner-bg/banner.jpg">
                     <div class="container">
                        <div class="hero-content-area">
                           <div class="tj-sec-heading blurr">
                              <span class="center-sub-title">Our Approach</span>
                              <div class="desc">
                                 <p>
                                   Where innovation meets communication we offer cutting-edge solutions for web radio broadcasting and Private Branch Exchange (PBX) systems, empowering you to connect with your audience and streamline internal communications like never before.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </section>
         <!-- end: Hero Area -->


         <!-- start: Service Area -->
         <section class="tj-service-section-two">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s">About Our  Services </span>
                        <h2 class="sec-title wow fadeInUp" data-wow-delay=".4s"> Let's streamline your communication needs <span class="active-color">Together!</span></h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">01</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">Web Radio Broadcasting</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>
                                    Elevate your brand with a custom web radio station that allows you to reach and engage your audience like never before. Our web radio solutions include everything you need to launch and manage a professional broadcasting platform, from audio streaming software to website integration to analytics and reporting.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="tj-service-item-two wow fadeInUp" data-wow-delay=".5s">
                        <div class="service-content-info">
                           <div class="service-left-content">
                              <div class="service-text">
                                 <span class="number ">02</span>
                              </div>
                              <div class="service-text">
                                 <h3 class="title-link">
                                    <a class="sec-title" href="service-details.html">PBX Systems</a>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="service-middle-content">
                           <div class="service-text">
                              <div class="desc">
                                 <p>Streamline internal communications and enhance productivity with our PBX systems. Whether you're a small business or a large enterprise, our PBX solutions provide advanced features like call routing, voicemail, conferencing, and more to keep your team connected and your business running smoothly.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="service-content-info">
                           <div class="service-arrow">
                              <a href="service-details.html"><i class="flaticon-digital-marketing"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end: Service Area -->

         <!-- end: CTA Area -->
      {% include "pricing.html" %}
      </main>
   </body>
{% endblock content %}
         {% include "loader.html" %}