@use "../utilities" as *;

/**----------------------------------------
START: Theme Blog CSS
----------------------------------------*/
.tj-blog-section {
   padding-top: 120px;
   padding-bottom: 70px;
   background: var(--tj-color-light-2);
   position: relative;
   transform: 0.4s;
   @media #{$md, $sm, $xs} {
      padding-top: 80px;
      padding-bottom: 40px;
   }
   .tj-sec-heading {
      max-width: 780px;
   }
   &.blog-style-four {
      position: relative;
      z-index: 2;
      .blog-left-shape {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 0;
         max-width: 485px;
         width: 100%;
         opacity: 0.3;
         z-index: -1;
         img {
            width: 100%;
         }
      }
      .blog-right-shape {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
         max-width: 485px;
         width: 100%;
         z-index: -1;
         img {
            width: 100%;
         }
      }
      .tj-blog-item {
         text-align: center;
         border-radius: 20px;
         .blog-image {
            position: relative;
            margin-bottom: 0;
            max-width: 340px;
            width: 100%;
            height: 340px;
            margin: 0 auto;
            z-index: 2;
            a {
               width: 100%;
               height: 100%;
            }
            &::after {
               position: absolute;
               content: "";
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               background: linear-gradient(90deg, var(--tj-color-theme-secondary) 0%, var(--tj-color-theme-primary) 100%);
               border-radius: 50%;
               z-index: -1;
               opacity: 0;
               visibility: hidden;
            }
            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 50%;
            }
            &::before {
               display: none;
            }
         }
         .blog-content-area {
            padding: 200px 30px 40px;
            max-width: 415px;
            width: 100%;
            margin: 0 auto;
            background: var(--tj-color-light-13);
            transition: 0.4s;
            margin-top: -175px;
            .blog-meta {
               margin-bottom: 10px;
            }
            .title-link {
               &::before {
                  left: 50%;
                  width: 100%;
                  transform: translateX(-50%);
               }
            }
         }
         &:hover {
            .blog-image {
               &::after {
                  opacity: 1;
                  visibility: visible;
                  top: 5px;
               }
            }
            .blog-content-area {
               background-color: var(--tj-color-common-white);
            }
         }
      }
      @media #{$lg, $md, $sm, $xs} {
         .tj-blog-item {
            .blog-image {
               max-width: 280px;
               height: 280px;
            }
            .blog-content-area {
               padding: 200px 15px 35px;
            }
         }
      }
      @media #{$md, $sm, $xs} {
         .tj-sec-heading {
            margin-bottom: 40px;
         }
         .tj-blog-item {
            .blog-content-area {
               padding: 200px 35px 35px;
            }
         }
      }
   }
}

.blog-section-shape {
   .blog-bg-shape {
      position: absolute;
      top: 0;
      right: 0;
      @media #{$md, $sm, $xs} {
         width: 50%;
      }
   }
   .blog-bg-shape1 {
      position: absolute;
      bottom: 0;
      left: 0;
      @media #{$md, $sm, $xs} {
         width: 50%;
      }
   }
}

.tj-blog-item {
   position: relative;
   z-index: 1;
   margin-bottom: 50px;
   transition: 0.4s;
   overflow: hidden;
   .blog-image {
      margin-bottom: 20px;
      position: relative;
      border-radius: 20px;
      &::before {
         background: rgba(255, 255, 255, 0.5);
         bottom: 0;
         content: "";
         left: 50%;
         position: absolute;
         right: 50%;
         top: 0;
         opacity: 0;
         visibility: hidden;
         height: 100%;
         pointer-events: none;
         transition: all 0.5s linear;
         border-radius: 20px;
         z-index: 3;
      }
      @media #{$sm, $xs} {
         width: 100%;
      }
      a {
         display: inline-block;
         @media #{$sm, $xs} {
            width: 100%;
         }
      }
      img {
         border-radius: 20px;
         transform: scale(1);
         @media #{$sm, $xs} {
            width: 100%;
         }
      }
   }
   .blog-content-area {
      padding: 0 30px;
      @media #{$lg, $md, $sm, $xs} {
         padding: 0 0;
      }
      .title-link {
         margin-bottom: 45px;
         position: relative;
         @media #{$md, $sm, $xs} {
            font-size: 20px;
         }
         &::before {
            position: absolute;
            content: "";
            width: 130px;
            height: 1px;
            bottom: -20px;
            left: 0;
            background: rgba(95, 57, 255, 0.5);
            transition: 0.4s;
         }
         a {
            background: linear-gradient(90deg, var(--tj-color-theme-secondary) 0%, var(--tj-color-theme-primary) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: var(--tj-color-common-black);
            transition: 0.4s;
            line-height: 1.6;
            &:hover {
               color: transparent;
            }
         }
      }
      p {
         margin-bottom: 0;
      }
   }
   .tj-blog-button {
      position: relative;
      margin-top: 25px;
      .tj-secondary-btn {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         border-radius: 150px;
         font-size: 16px;
         font-weight: var(--tj-fw-sbold);
         font-family: var(--tj-ff-body);
         line-height: 2;
         text-transform: capitalize;
         color: var(--tj-color-theme-primary);
         padding: 12px 35px;
         border: none;
         background: linear-gradient(90deg, var(--tj-color-theme-primary) 0%, var(--tj-color-theme-secondary) 100%);
         background-size: 150% auto;
         &:hover,
         &:focus {
            color: var(--tj-color-theme-primary);
            background-position: right center;
         }
         &.btn-border {
            position: relative;
            background: linear-gradient(90deg, var(--tj-color-theme-secondary) 0%, var(--tj-color-theme-primary) 100%);
            backdrop-filter: blur(15px);
            box-shadow: 0 0 0 0;
            padding: 1px;
            span {
               padding: 12px 35px;
               background: var(--tj-color-light-2);
               border-radius: 58px;
               color: var(--tj-color-theme-primary);
            }

            &:hover {
               span {
                  background: transparent;
                  color: var(--tj-color-common-white);
               }
            }
         }
      }
   }
   &:hover {
      .blog-image {
         &::before {
            left: 0;
            right: 0;
            opacity: 1;
            visibility: visible;
         }
      }
      .title-link {
         &::before {
            background: linear-gradient(90deg, var(--tj-color-theme-secondary) 0%, var(--tj-color-theme-primary) 100%);
         }
      }
   }
}

.blog-meta {
   margin-bottom: 15px;
   span {
      font-size: 14px;
      margin-right: 35px;
      font-weight: var(--tj-fw-bold);
      @media #{$sm, $xs} {
         margin-right: 15px;
      }
      &:last-child {
         margin-right: 0;
      }
      a {
         color: var(--tj-color-text-body);
         transition: 0.4s;
         &:hover {
            color: var(--tj-color-theme-primary);
         }
      }
   }
   i {
      font-size: 15px;
      margin-right: 10px;
      position: relative;
      top: 3px;
   }
}

.blog-meta-two {
   margin-bottom: 15px;
   span {
      font-size: 16px;
      margin-right: 35px;
      &:last-child {
         margin-right: 0;
      }
      @media #{$sm, $xs} {
         margin-right: 15px;
      }
      a {
         color: var(--tj-color-text-body);
         transition: 0.4s;
         &:hover {
            color: var(--tj-color-theme-primary);
         }
      }
   }
   i {
      color: var(--tj-color-text-body);
      font-size: 15px;
      margin-right: 10px;
   }
}

.blog-meta-three {
   margin-bottom: 15px;
   position: relative;
   &::before {
      position: absolute;
      content: "";
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 2px;
      background: var(--tj-color-common-black);
   }
   span {
      margin-right: 10px;
      &:last-child {
         margin-right: 0;
      }
      a {
         color: var(--tj-color-common-black);
         transition: 0.4s;
         &:hover {
            color: var(--tj-color-theme-primary);
         }
      }
   }
}

.tj-blog-section-two {
   background: var(--tj-color-grey-5);
   padding-top: 120px;
   padding-bottom: 90px;
   @media #{$md, $sm, $xs} {
      padding-top: 80px;
      padding-bottom: 50px;
   }
}

.tj-blog-item-two {
   margin-bottom: 30px;
   border-radius: 20px 20px 20px 0px;
   padding: 20px;
   background: var(--tj-color-common-white);
   border: 1px solid var(--tj-color-light-8);
   transition: 0.4s;
   .blog-image {
      margin-bottom: 30px;
      position: relative;
      border-radius: 15px;
      &::before {
         background: rgba(255, 255, 255, 0.5);
         bottom: 0;
         content: "";
         left: 50%;
         position: absolute;
         right: 50%;
         top: 0;
         opacity: 0;
         visibility: hidden;
         height: 100%;
         pointer-events: none;
         transition: all 0.5s linear;
         border-radius: 15px;
         z-index: 3;
      }
      a {
         display: inline-block;
         @media #{$sm, $xs} {
            width: 100%;
         }
      }
      img {
         border-radius: 15px;
         @media #{$sm, $xs} {
            width: 100%;
         }
      }
      .active-text {
         position: absolute;
         left: 20px;
         bottom: 20px;
         border-radius: 0px 5px 5px 5px;
         padding: 20px 10px;
         background: linear-gradient(90deg, var(--tj-color-theme-secondary) 0%, var(--tj-color-theme-primary) 100%);
         color: var(--tj-color-common-white);
         writing-mode: vertical-rl;
         transform: rota(180deg);
         z-index: 3;
      }
   }
   .blog-content-area {
      .title-link {
         margin-bottom: 15px;
         a {
            background: linear-gradient(90deg, var(--tj-color-theme-secondary) 0%, var(--tj-color-theme-primary) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: var(--tj-color-common-black);
            transition: 0.4s;
            font-size: 25px;
            &:hover {
               color: transparent;
            }
         }
      }
      p {
         margin-bottom: 0;
      }
   }
   .tj-read-more-button {
      position: relative;
      padding-top: 40px;
   }
   &:hover {
      border-color: var(--tj-color-theme-primary);
      .blog-image {
         &::before {
            left: 0;
            right: 0;
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

.tj-blog-section-three {
   padding-top: 120px;
   padding-bottom: 70px;
   position: relative;
   overflow: hidden;
   @media #{$md, $sm, $xs} {
      padding-top: 80px;
      padding-bottom: 30px;
   }
   .tj-sec-heading {
      max-width: 780px;
   }
   .blog-sec-shape {
      .shape-one {
         position: absolute;
         left: 80px;
         top: 10%;
         opacity: 0.3;
      }
      .shape-two {
         position: absolute;
         right: 0;
         bottom: 20%;
      }
      .shape-three {
         position: absolute;
         right: 0;
         right: 5%;
         bottom: 40%;
         mask-image: url(../images/shape/shape-37.svg);
         mask-repeat: no-repeat;
         mask-position: center;
         mask-size: contain;
         background: var(--tj-color-light-3);
         height: 225px;
         width: 175px;
         opacity: 0.3;
      }
      @media #{$md, $sm, $xs} {
         display: none;
      }
   }
}

.tj-blog-item-three {
   position: relative;
   z-index: 3;
   margin-bottom: 50px;
   transition: 0.4s;
   overflow: hidden;
   .blog-image {
      margin-bottom: 30px;
      position: relative;
      border-radius: 20px;
      &::before {
         background: rgba(255, 255, 255, 0.5);
         bottom: 0;
         content: "";
         left: 50%;
         position: absolute;
         right: 50%;
         top: 0;
         opacity: 0;
         visibility: hidden;
         height: 100%;
         pointer-events: none;
         transition: all 0.5s linear;
         border-radius: 20px;
         z-index: 3;
      }
      @media #{$sm, $xs} {
         width: 100%;
      }
      a {
         display: inline-block;
         @media #{$sm, $xs} {
            width: 100%;
         }
      }
      img {
         border-radius: 20px;
         transform: scale(1);
         @media #{$sm, $xs} {
            width: 100%;
         }
      }
   }
   .blog-content-area {
      padding: 0 50px;
      @media #{$lg, $md, $sm, $xs} {
         padding: 0 0;
      }
      .title-link {
         position: relative;
         @media #{$md, $sm, $xs} {
            font-size: 20px;
         }
         a {
            color: var(--tj-color-common-black);
            transition: 0.4s;
            line-height: 1.6;
            &:hover {
               color: var(--tj-color-light-3);
            }
         }
      }
      p {
         margin-bottom: 0;
      }
   }
   .tj-blog-button {
      margin-top: 30px;
   }
   &:hover {
      .blog-meta-three {
         &::before {
            background: var(--tj-color-light-3);
         }
      }
      .blog-image {
         &::before {
            left: 0;
            right: 0;
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

/* !END: Theme Blog CSS */
